<div class="wizard-order-pay">
  <div class="wop-top">
    <h3>澳门+澳门威尼斯人度假村+大三巴牌坊+百老汇一日游【自由行/跟团游、高端没事纯玩三套餐可选】</h3>
    <div class="wopp-status">
      <img src="./front/images/icon/pay-success.png">
      <span>订单已经提交成功</span>
    </div>
    <p class="wopp-tips">请您立即付款，我们将为您闪电配送！</p>
    <p class="wopp-tips">支付剩余时间：</p>
    <p class="wopp-timed">
      <i class="th">--</i>
      <span>:</span>
      <i class="tm">--</i>
      <span>:</span>
      <i class="ts">--</i>
      <span>超过后系统将自动取消订单</span>
    </p>
  </div>
  <div class="wop-info">
    <div class="wop-line">
      <label>订单号：</label>
      <p>OA_2018040314040000001366</p>
    </div>
    <div class="wop-line">
      <label>金额：</label>
      <p class="wop-price">1096.00</p>
    </div>
  </div>
  <div class="wop-apyway">
    <label class="wop-line">
      <div class="wopa-way">
        <img src="./front/images/icon/payway-ye.png" alt="">
        <span>余额</span>
      </div>
      <p><input type="radio" name="payway" class="p-hook fill"></p>
    </label>
    <label class="wop-line">
      <div class="wopa-way">
        <img src="./front/images/icon/payway-hy.png" alt="">
        <span>汇游支付</span>
      </div>
      <p><input type="radio" name="payway" class="p-hook fill"></p>
    </label>
  </div>
  <div class="wop-apyway">
    <label class="wop-line">
      <div class="wopa-way">
        <img src="./front/images/icon/payway-wx.png" alt="">
        <span>微信支付</span>
      </div>
      <p><input type="radio" name="payway" class="p-hook fill"></p>
    </label>
    <label class="wop-line">
      <div class="wopa-way">
        <img src="./front/images/icon/payway-zfb.png" alt="">
        <span>支付宝支付</span>
      </div>
      <p><input type="radio" name="payway" class="p-hook fill"></p>
    </label>
    <label class="wop-line">
      <div class="wopa-way">
        <img src="./front/images/icon/payway-yl.png" alt="">
        <span>银联卡支付</span>
      </div>
      <p><input type="radio" name="payway" class="p-hook fill"></p>
    </label>
  </div>
  <button type="button" class="wop-paybtn">确定付款</button>
</div>