<div class="manage-refund">
    <div class="mr-tit">
        <div class="mr-titl">
            <img src="./front/images/tx-001.png" alt="">
            <span>王尼玛</span>
        </div>
        <span class="mr-titr">下单：2018年5月8日 18:11:00</span>
    </div>
    <div class="mr-box">
        <div class="mr-top">
            <div class="mr-topl">
                <img src="./front/images/l-manpage01.png">
            </div>
            <div class="mr-topr">
                <h3 class="mr-toprh">徒步向导：美丽丽江、向导全程陪同服务、品位慢生活</h3>
                <p class="mr-toprpb clr">
                    <span class="mr-tcl">套餐:</span>
                    <span class="mr-tcr">【游丽江】咨询服务1天</span>
                </p>
            </div>
        </div>
        <ul class="mr-ul">
            <li class="mr-li">
                <span>退款理由：</span>
                <span class="mr-spb">改变行程</span>
            </li>
            <li class="mr-li">
                <span>退款金额：</span>
                <span class="mr-spa">¥88.00</span>
            </li>
            <li class="mr-li">
                <span>退款说明：</span>
                <input class="mr-inp" type="text" placeholder="请输入退款理由">
            </li>
        </ul>
    </div>
    <div class="mr-pz">
        <p class="mr-pzp">退款凭证：</p>
        <div class="mr-pzbox clr">
            <img src="http://placehold.it/220x220/09f/fff.png" alt="">
            <img src="http://placehold.it/220x220/09f/fff.png" alt="">
            <img src="http://placehold.it/220x220/09f/fff.png" alt="">
            <img src="http://placehold.it/220x220/09f/fff.png" alt="">
            <img src="http://placehold.it/220x220/09f/fff.png" alt="">
            <img src="http://placehold.it/220x220/09f/fff.png" alt="">
        </div>
    </div>
    <div class="mr-btn clr">
        <a class="mr-btna" href="javascript:void(0)">拒绝退款</a>
        <a class="mr-btnb" href="javascript:void(0)">同意退款</a>
    </div>
</div>