<div class="barter-detail">
  <h3 class="bd-status">等待买家退货</h3>
  <div class="bd-top">
    <p class="bd-progress">商家已同意换货，请您及时退回需要更换的商品</p>
    <div class="bd-addrs">
      <div class="bda-top">
        <h3>收货人：李女士</h3>
        <p>133 9999 0000</p>
      </div>
      <p>收货地址：深圳·宝安中心区·航城大道塘东光电研发大厦二层</p>
    </div>
    <div class="bd-tips">
      <p>• 如您逾期未填写退货物流信息，商家将有权关闭本次换货申请.</p>
      <p>• 未经商家同意，请不要使用到付或平邮。</p>
      <p>• 请在退货包裹内留下纸条，注明换货编号、您的会员名称以及联系方式等信息，以便商家及时确认并完成换货。</p>
    </div>
    <div class="bd-act">
      <button type="button" class="bd-btn">撤销换货</button>
      <button type="button" class="bd-btn">填写退换货物流</button>
    </div>
  </div>
  <div class="bd-info">
    <h3>换货信息</h3>
    <div class="barter-item">
      <div class="bdi-img">
        <img src="http://placehold.it/190x190/09f/fff.png">
      </div>
      <div class="bdi-info">
        <h3>深圳中英街、深港环岛、地王观光、东部茶溪谷园博园休闲2天游</h3>
        <p class="i-info">
          <span>颜色：红色</span>
          <span>长度：1米</span>
          <span>类型：USB插口</span>
        </p>
        <p class="c-info">
          <label>换成：</label>
          <span>颜色：蓝色色</span>
          <span>长度：1米</span>
          <span>类型：USB插口</span>
        </p>
      </div>
    </div>
    <div class="bdi-cont">
      <p>换货原因：7天无理由换货</p>
      <p>换货数量：1个</p>
      <p>申请时间：2018-04-24    16：03：12</p>
      <p>换货编号：985231456789</p>
      <p>收货地址：陈女士 13000000000 广东省深圳市宝安区西乡街道航程大道光电研发大厦2层</p>
    </div>
  </div>
  <div class="bd-contact">
    <a class="bdc-btn seller" href="">联系卖家</a>
    <a class="bdc-btn called" href="">拨打电话</a>
  </div>
</div>