<div class="barter-detail">
  <h3 class="bd-status">退款成功</h3>
  <div class="bd-refund">
    <p>退款总金额</p>
    <p>￥75.00</p>
  </div>
  <div class="bd-info">
    <h3>换款信息</h3>
    <div class="barter-item">
      <div class="bdi-img">
        <img src="http://placehold.it/190x190/09f/fff.png">
      </div>
      <div class="bdi-info">
        <h3>深圳中英街、深港环岛、地王观光、东部茶溪谷园博园休闲2天游</h3>
        <p class="i-info">
          <span>颜色：红色</span>
          <span>长度：1米</span>
          <span>类型：USB插口</span>
        </p>
        <!-- <p class="c-info">
          <label>换成：</label>
          <span>颜色：蓝色色</span>
          <span>长度：1米</span>
          <span>类型：USB插口</span>
        </p> -->
      </div>
    </div>
    <div class="bdi-cont">
      <p>退货原因：7天无理由退货</p>
      <p>退货金额：￥75.00</p>
      <p>申请时间：2018-04-24    16：03：12</p>
      <p>退货编号：985231456789</p>
    </div>
  </div>
  <div class="bd-contact">
    <a class="bdc-btn seller" href="">联系卖家</a>
    <a class="bdc-btn called" href="">拨打电话</a>
  </div>
</div>