<div class="invoice-list">
  <div class="il-item">
    <input type="checkbox" name="invoice-box" data-id="0" class="p-hook">
    <a href="">
      <h3>陈某某</h3>
      <p>个人</p>
    </a>
  </div>
  <div class="il-item">
    <input type="checkbox" name="invoice-box" data-id="1" class="p-hook">
    <a href="">
      <h3>深圳微时代科技有限公司</h3>
      <p>企业</p>
    </a>
  </div>
</div>
<button type="button" class="long-page-btn">添加新发票信息</button>