<div class="name-authing">
    <div class="na-img tc">
        <img src="./front/images/icon/c-authing.png" alt="">
    </div>
    <p class="na-pa tc">审核中</p>
    <p class="na-pb tc">您的资料已提交成功，小鹿正在为您快马加鞭审核中，请您耐心等待</p>
</div>