<div class="auth-fail">
    <div class="af-img tc">
        <img src="./front/images/icon/c-authf.png" alt="">
    </div>
    <p class="af-pa tc">审核失败</p>
    <p class="af-pb tc">很遗憾，您的资料未通过审核，请确认信息的真实性再重新申请！</p>
    <button type="button" class="af-btn">重新认证</button>
</div>