<div class="sell-detail">
    <div class="sd-scroll">
        <%= scrollWall %>
        <span class="sd-spa">三日游</span>
    </div>
    <div class="sd-head">
        <h2 class="sd-headh">徒步向导：美丽丽江、向导全程陪同服务、品位慢生活</h2>
        <p class="sd-headp">丽江古城，最美古城</p>
        <div class="sd-hdbx">
            <p class="sd-hdbxp">
                <span class="sd-hdbxpl sd-money"><em>¥</em>298<em>起</em></span>
                <span class="sd-hdbxpr">行程：3天2晚</span>
            </p>
            <p class="sd-hdbxp">
                <span class="sd-hdbxpl">保险出行 全程服务</span>
                <span class="sd-hdbxpr">收益比例：10%</span>
            </p>
        </div>
        <div class="sd-hdbx">
            <p class="sd-hdbxp">
                <span class="sd-hdbxpl">成团地：深圳</span>
                <span class="sd-hdbxpr">目的地：丽江</span>
            </p>
            <p class="sd-hdbxp">
                <span class="sd-hdbxpl">上架时间：2018年3月10日</span>
                <span class="sd-hdbxpr">合销量：96次</span>
            </p>
        </div>
        <p class="sd-hdtyp">
            <span>出行方式：飞机</span>
            <span>组团方式：联合组团</span>
        </p>
    </div>
    <div class="sd-bd">
        <div class="sd-bdtop">
            <div class="sd-bdtopl"><img src="./front/images/l-manpage01.png" alt=""></div>
            <div class="sd-bdtopr">
                <h2 class="sd-bdtoprh">小鹿网旅游</h2>
                <p class="sd-bdtoprpa clr">
                    <span>总体评分：</span>
                    <span class="commont-star sd-star" data-star="5"></span>
                    <span>5分</span>
                </p>
                <p class="likes" onclick="likedFunc.changeLiked(this)"><i class="icon"></i> 295</p>
            </div>
        </div>
        <div class="sd-bdbt">
            <p class="sd-bdbtp clr">
                <span>产品数量：128</span>
                <span>月销量：260次</span>
            </p>
            <p class="sd-bdbtp clr">
                    <span>开店时间：2017年11月</span>
                    <span>电话：0755-86145755</span>
                </p>
        </div>
    </div>
    <button type="button" class="sd-btn">立即添加</button>
</div>