<div class="wizard-doyen">
  <div class="wd-fixtop">
    <span class="wdf-mult">综合</span>
    <span class="wdf-sort" id="w-level">达人等级</span>
    <span class="wdf-sort" id="w-price">价格</span>
    <ul class="wdf-multlist">
      <li>综合</li>
      <li>热度</li>
      <li>时间</li>
    </ul>
  </div>
  <div class="wd-section">
    <%= regimentItem+regimentItem+regimentItem+regimentItem+regimentItem %>
  </div>
</div>