
<div class="verification-information">
  <p class="vb-tips">为了账户安全，请绑定本人的银行卡</p>
  <div class="vb-pagebox">
    <div class="vbp-cared">
        <div class="vbpc-ckr">
          <div class="vit-box">
            <div class="vit-img">
              <img src="./front/images/icon/gongshang.png" alt="">
            </div>
            <div class="vit-txt">
              <p class="vit-name">中国工商银行</p>
              <p>6333 0340 ********317</p>
            </div>
          </div>
        </div>
        <div class="vbpc-ckr">
          <p>持卡人</p>
          <div class="vbpc-input">
            <input type="text" readonly value="林天生">
            <i class="vbpc-yiwen" onclick="tishi()"></i>
          </div>
        </div>
        <div class="vbpc-ckr">
          <div class="vbpc-input">
            <input type="text" class="xyc" placeholder="银行预留手机">
              <i class="vbpc-close" onclick="qingkong()"></i>
          </div>
        </div>
        <div class="vbpc-ckr">
          <div class="vbpc-input">
            <input type="text" class="dx" placeholder="短信验证码">
            <button class="vi-btn active">获取验证码</button>
          </div>
        </div>
    </div>
    <div class="vbp-tybox">
        <input type="checkbox" class="p-hook">
        <a href="javascript:;;">同意《快捷支付协议》和《代扣服务协议》</a>
    </div>
  </div>
  <div class="vb-footBtn">
    <a href="javascript:;;">绑定银行卡</a>
  </div>
</div>