<div class="line-certified">
    <ul class="lc-menu-list">
        <li><a href="javascript:;;" class="pr-on">出团中</a></li>
        <li><a href="javascript:;;">仓库</a></li>
        <li><a href="javascript:;;">审核中</a></li>
        <li><a href="javascript:;;">线路记录</a></li>
    </ul>
    <div class="lc-cont">
        <p>您没有合作线路，请先在仓库中添加产品，</p>
        <p>然后从仓库中申请上架！</p>
    </div>
</div>