<div class="line-center">
    <ul class="lc-menu-list">
        <li><a href="javascript:;;" class="pr-on">出团中</a></li>
        <li><a href="javascript:;;">仓库</a></li>
        <li><a href="javascript:;;">审核中</a></li>
        <li><a href="javascript:;;">线路记录</a></li>
    </ul>
    
</div>