<div class="regiment-list">
  <div class="rl-fixtop">
    <span class="rlf-mult">综合</span>
    <span class="rlf-sort" id="w-level">达人等级</span>
    <ul class="rlf-multlist rlf-section">
      <li>综合</li>
      <li>热度</li>
      <li>时间</li>
    </ul>
  </div>
  <div class="rl-luyouList rl-section">
    <% for (var i =0;i<8;i++){%>
    <div class="rl-secbox">
      <a href="javascript:;">
        <div class="rl-item-img">
          <img src="./front/images/l-mandetImg.png" alt="">
        </div>
        <div class="rl-item-txt">
          <div class="rlt-page">
            <span>鹿友大团长</span>
            <span class="rlt-leble">A级旅游达人</span>
          </div>
          <p class="rlt-jianjie">简介：时尚旅游达人，十三年漫漫旅行总十三年漫漫旅行总十三年漫漫旅行总</p>
        </div>
        <div class="rlt-jpicon"><img src="./front/images/icon/jinpai.png" alt=""></div>
      </a>
    </div>
    <%}%>
  </div>
</div>