<script>
  $(function(){
    $("#sort-list").on("click",function(){
      if($(this).hasClass("down")){
        // 改为从大到小
        $(this).removeClass("down").text('倒序')
      }else{
        // 改为从小到大
        $(this).addClass("down").text('正序')
      }
    })
  })

  // 上拉加载html拼接方法
  function getHtmlTemp(res) {
    var _html = '<a class="guide-record-item" href="'+res.link+'">'+
        '<div class="gri-img"><img src="'+res.pic+'"></div>'+
        '<div class="gri-info">'+
          '<h3>'+res.miaoshu+'</h3>'+
          '<div>'+
              '<p class="i-date">带团时间：'+res.time+'</p>'+
              '<p class="i-date i-mt">'+res.city+'</p>'+
          '</div>'+
        '</div>'+
      '</a>';
    return _html;
  }

  $(function () {
    // 初始化上拉加载
    onReachBottom.init('.brx-body',function () {
      $.ajax({
        url: './front/mockdata/041bndRecord.json',
        type: 'GET',
        success: function (res) {
          var pages = res.pages;
          for (var i = 0; i < pages.length; i++) {
            $(".brx-body .show-reach-loading").before(getHtmlTemp(pages[i]))
          }
          hideReachLoading();
          onReachBottom.hasNextPage = res.hasNextPage;//获取是否有下一页数据
          onReachBottom.currPage = res.currPage;//获取当前页数
          if(!onReachBottom.hasNextPage){
            showNullReach($(".brx-body"))
          }
        }
      })
    })
  })
</script>