<script>
  $(function(){
    $("#sort-list").on("click",function(){
      if($(this).hasClass("down")){
        // 改为从大到小
        $(this).removeClass("down").text('倒序')
      }else{
        // 改为从小到大
        $(this).addClass("down").text('正序')
      }
    })
  })

  // 上拉加载html拼接方法
  function getHtmlTemp(res) {
    var _html = '<a class="item-with-pic" href="'+ res.link +'">'
      +'<div class="iwp-img"><img src="'+ res.pic +'"></div>'
      +'<div class="iwp-info">'
      +'<h3>'+ res.title +'</h3>'
      +'<div>'
      +'<p class="i-date">'+ filter.dateByHms(res.date) +'</p>'
      +'<p class="i-addrs">'+ res.addrs +'</p>'
      +'</div>'
      +'</div>'
      +'</a>';
    return _html;
  }

  $(function () {
    // 初始化上拉加载
    onReachBottom.init('.br-body',function () {
      $.ajax({
        url: './front/mockdata/061bandRecord.json',
        type: 'GET',
        success: function (res) {
          var pages = res.pages;
          for (var i = 0; i < pages.length; i++) {
            $(".br-body .show-reach-loading").before(getHtmlTemp(pages[i]))
          }
          hideReachLoading();
          onReachBottom.hasNextPage = res.hasNextPage;//获取是否有下一页数据
          onReachBottom.currPage = res.currPage;//获取当前页数
          if(!onReachBottom.hasNextPage){
            showNullReach($(".br-body"))
          }
        }
      })
    })
  })
</script>