
<link rel="stylesheet" href="front/swiper/swiper.min.css">
<script src="front/swiper/swiper.min.js"></script>
<script>
  $(function () {
    // 初始化轮播
    var mySwiper = new Swiper('.swiper-container', {
      autoplay: true,
      pagination: {
        el: '.swiper-pagination',
        bulletElement: 'li',
      },
    });
  })

  //绑定筛选事件
  $(function () {
    $(".wdf-sort").each(function (i, el) {
      $(el).on("click", function () {
        $(el).siblings().removeClass("active up down");
        if ($(el).hasClass("up")) {
          $(el).removeClass("up").addClass("down");
          if ($(el).is("#w-level")) {
            console.log("等级-从高到低");
          } else if ($(el).is("#w-price")) {
            console.log("价格-从高到低");
          }
        } else {
          $(el).removeClass("down").addClass("up")
          if ($(el).is("#w-level")) {
            console.log("等级-从低到高");
          } else if ($(el).is("#w-price")) {
            console.log("价格-从低到高");
          }
        }
      })
    })
  })

  // 绑定数据筛选下拉
  $(function () {
    $(".wdf-mult").on("click", function (e) {
      if ($(".wdf-multlist").is(":hidden")) {
        $(".wdf-mult").addClass("active");
        $(".wdf-multlist").fadeIn();
      } else {
        $(".wdf-mult").removeClass("active");
        $(".wdf-multlist").fadeOut();
      }
      e.stopPropagation();
      $(document).on("click", function (e) {
        $(".wdf-multlist").fadeOut();
        e.stopPropagation();
      });
    })
    $(".wdf-multlist").on('click', function (e) {
      e.preventDefault()
    })
    $(".wdf-multlist li").each(function (i, el) {
      $(el).on("click", function () {
        $(el).addClass("active").siblings().removeClass("active");
        $(".wdf-mult").text($(el).text());
        $(".wdf-multlist").fadeOut();
        $(".wdf-mult").removeClass("active");
        // 选择结束
        // do something
      })
    })
  })


  // 上拉加载html拼接方法
 function getHtmlTemp(res) {
    var _html = '<div class="ac-section">'+
        '<div class="acs-header">'+
          '<h3 class="h-redbag">发布时间：'+res.times+'</h3>'+
          '<span class="h-more">热门分享</span>'+
        '</div>'+
        '<div class="acs-redbag">'+
          '<div class="acsr-top">'+
            '<div class="acsr-info">'+
              '<h3>'+res.title+'</h3>'+
              '<div class="i-data">'+
                '<p> <span>总收益：</span> <i>'+res.shouyi+'元</i></p>'+
                '<p> <span>剩余收益：</span> <i>'+res.shenyu+'元</i></p>'+
                '<p> <span>分享次数：</span> <i>'+res.fxcs+'次</i></p>'+
              '</div>'+
            '</div>'+
            '<a class="acsr-share" href="'+res.link+'">'+
              '<i></i>'+
              '<p>去分享</p>'+
            '</a>'+
          '</div>'+
          '<p class="acsr-tips">'+res.fxmiaoshu+'</p>'+
        '</div>'+
      '</div>';
    return _html;
  }

  $(function () {
    // 初始化上拉加载
    onReachBottom.init('.srl-box',function () {
      $.ajax({
        url: './front/mockdata/117sharingRecords.json',
        type: 'GET',
        success: function (res) {
          var pages = res.pages;
          for (var i = 0; i < pages.length; i++) {
            $(".srl-box").append(getHtmlTemp(pages[i]))
          }
          hideReachLoading();
          onReachBottom.hasNextPage = res.hasNextPage;//获取是否有下一页数据
          onReachBottom.currPage = res.currPage;//获取当前页数
          if(!onReachBottom.hasNextPage){
            showNullReach($(".srl-box"))
          }
        }
      })
    })
  })
</script>