<div class="system-message">
  <ul class="sm-header">
    <li onclick="changeTo('all')" class="active">全部</li>
    <li onclick="changeTo('msg')">消息</li>
    <li onclick="changeTo('score')">积分</li>
    <li onclick="changeTo('notice')">通知</li>
  </ul>
  <div class="sm-data-wrap">
    <div class="sm-items">
      <div class="sm-item">
        <h3>订单提交</h3>
        <p>您的订单已经提交，2018年4月10日，您的订单已经提交，2018年4月10日</p>
        <span class="i-status">系统通知</span>
      </div>
      <div class="sm-item">
        <h3>订单提交</h3>
        <p>您的订单已经提交，2018年4月10日，您的订单已经提交，2018年4月10日</p>
        <span class="i-status">系统通知</span>
      </div>
      <div class="sm-item">
        <h3>订单提交</h3>
        <p>您的订单已经提交，2018年4月10日，您的订单已经提交，2018年4月10日</p>
        <span class="i-status">系统通知</span>
      </div>
      <div class="sm-item">
        <h3>订单提交</h3>
        <p>您的订单已经提交，2018年4月10日，您的订单已经提交，2018年4月10日</p>
        <span class="i-status">系统通知</span>
      </div>
      <div class="sm-item">
        <h3>订单提交</h3>
        <p>您的订单已经提交，2018年4月10日，您的订单已经提交，2018年4月10日</p>
        <span class="i-status">系统通知</span>
      </div>
      <div class="sm-item">
        <h3>订单提交</h3>
        <p>您的订单已经提交，2018年4月10日，您的订单已经提交，2018年4月10日</p>
        <span class="i-status">系统通知</span>
      </div>
      <div class="sm-item">
        <h3>订单提交</h3>
        <p>您的订单已经提交，2018年4月10日，您的订单已经提交，2018年4月10日</p>
        <span class="i-status">系统通知</span>
      </div>
      <div class="sm-item">
        <h3>订单提交</h3>
        <p>您的订单已经提交，2018年4月10日，您的订单已经提交，2018年4月10日</p>
        <span class="i-status">系统通知</span>
      </div>
      <div class="sm-item">
        <h3>订单提交</h3>
        <p>您的订单已经提交，2018年4月10日，您的订单已经提交，2018年4月10日</p>
        <span class="i-status">系统通知</span>
      </div>
      <div class="sm-item">
        <h3>订单提交</h3>
        <p>您的订单已经提交，2018年4月10日，您的订单已经提交，2018年4月10日</p>
        <span class="i-status">系统通知</span>
      </div>
      <div class="sm-item">
        <h3>订单提交</h3>
        <p>您的订单已经提交，2018年4月10日，您的订单已经提交，2018年4月10日</p>
        <span class="i-status">系统通知</span>
      </div>
      <div class="sm-item">
        <h3>订单提交</h3>
        <p>您的订单已经提交，2018年4月10日，您的订单已经提交，2018年4月10日</p>
        <span class="i-status">系统通知</span>
      </div>
      <div class="sm-item">
        <h3>订单提交</h3>
        <p>您的订单已经提交，2018年4月10日，您的订单已经提交，2018年4月10日</p>
        <span class="i-status">系统通知</span>
      </div>
      <div class="sm-item">
        <h3>订单提交</h3>
        <p>您的订单已经提交，2018年4月10日，您的订单已经提交，2018年4月10日</p>
        <span class="i-status">系统通知</span>
      </div>
    </div>
  </div>
</div>