<div class="doyen-message">
  <div class="dm-item">
    <div class="dmi-img"><img src="./front/images/tx-001.png"></div>
    <div class="dmi-info">
      <h3>达人消息 | 当地向导金牌向导游胡丽</h3>
      <p class="i-cont">您好！我是当地向导金牌导游胡丽丽，我是当地向导金牌导游胡丽丽</p>
    </div>
    <p class="dmi-date">星期六</p>
  </div>
  <div class="dm-item">
    <div class="dmi-img"><img src="./front/images/tx-001.png"></div>
    <div class="dmi-info">
      <h3>达人消息 | 当地向导金牌向导游胡丽</h3>
      <p class="i-cont">您好！我是当地向导金牌导游胡丽丽，我是当地向导金牌导游胡丽丽</p>
    </div>
    <p class="dmi-date">星期六</p>
  </div>
  <div class="dm-item">
    <div class="dmi-img"><img src="./front/images/tx-001.png"></div>
    <div class="dmi-info">
      <h3>达人消息 | 当地向导金牌向导游胡丽</h3>
      <p class="i-cont">您好！我是当地向导金牌导游胡丽丽，我是当地向导金牌导游胡丽丽</p>
    </div>
    <p class="dmi-date">星期六</p>
  </div>
</div>