<div class="add-bankcard">
  <div class="yhk-page-box">
    <div class="yhkpb-page">
        <div class="yhk-zhuti">
          <!-- 图标 -->
          <div class="yhk-pic">
            <img src="./front/images/icon/gongshang.png" alt="">
          </div>
          <div class="yhk-txt">
            <div class="yhkt-box">
                <p class="yhk-name">中国工商银行</p>
                <p>储蓄卡</p>
            </div>
            <p>6333 0340 ********317</p>
          </div>
        </div>
    </div>
  </div>

  <div class="ab-addBtn">
    <a href="javascript:;;">
      <i class="ab-addicon"></i>
      <span>新增银行卡</span>
    </a>
  </div>
</div>