<div class="regiment-list">
  <div class="rl-scroll-wall">
      <%= scrollWall %>
  </div>
  <div class="rl-scenery">
      <a href="javascript:;">大理双塔</a>
      <a href="javascript:;">黄果树瀑布</a>
      <a href="javascript:;">天门山</a>
      <a href="javascript:;">玉龙雪山</a>
      <a href="javascript:;">鼓浪屿</a>
      <a href="javascript:;">故宫</a>
      <a href="javascript:;">九寨沟</a>
  </div>
  <div class="rl-city-wrap">
      <div class="rlc-choose">
      <span>海南</span>
      <span>云南</span>
      <span>四川</span>
      <span>浙江</span>
      <span>安徽</span>
      </div>
      <div class="rlc-choose rlc-hide">
      <span>海南</span>
      <span>云南</span>   
      <span>四川</span>
      <span>浙江</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      </div>
      <span class="rl-more">更多</span>
  </div>

  <div class="rl-section">
    <div class="rls-listbox">
      <div class="rls-title">
        <p>四川- 达人团</p>
      </div>
      <% for(var i =0;i<3;i++){%>
      <div class="rls-page">
        <div class="rlsp-centant">
          <div class="rlspc-flexbox">
            <div class="rlspc-headbox">
                <div class="rlsp-headimg">
                  <img src="./front/images/l-mandetImg.png" alt="">
                </div>
                <div class="rlsp-headtxt">
                  <p class="rlsp-name">鹿友大团长</p>
                  <p class="rlsp-leave">A级旅游达人</p>
                </div>
            </div>
            <div class="">
              <div class="rlsp-timetips">3天后出发</div>
            </div>
          </div>
          <div class="rlspc-flexbox rlspc-mt">
            <div class="rlspc-miaoshu">丽江古城又名大研镇，坐落于玉龙雪山下丽江坝子中部绝美古城春光</div>
            <div class="rlspc-nomy ">￥99.00 起</div>
          </div>
        </div>
        <div class="rlsp-goto">
          <div>
              <p>出发地：深圳</p>
              <p>出团时间：2018年5月18日</p>
          </div>
          <div>
              <p>剩余：8位</p>
          </div>
          <div>
            <a href="javascript:;;" class="rlsp-ztbtn">去组团</a>
          </div>
        </div>
      </div>
      <%}%>
    </div>
    
  </div>
  
</div>