<div class="passenger-msg">
  <div class="pm-item">
    <div class="pmi-icon"><img src="http://placehold.it/300x300/09f/fff.png"></div>
    <div class="pmi-info">
      <h3>鲁智深下山</h3>
      <p>您好！</p>
    </div>
    <p class="pmi-date">19:58</p>
  </div>
  <div class="pm-item">
    <div class="pmi-icon"><img src="http://placehold.it/300x300/09f/fff.png"></div>
    <div class="pmi-info">
      <h3>鲁智深下山</h3>
      <p>您好！</p>
    </div>
    <p class="pmi-date">19:58</p>
  </div>
  <div class="pm-item">
    <div class="pmi-icon"><img src="http://placehold.it/300x300/09f/fff.png"></div>
    <div class="pmi-info">
      <h3>鲁智深下山</h3>
      <p>您好！</p>
    </div>
    <p class="pmi-date">19:58</p>
  </div>
</div>