<div class="recharge">
  <div class="r-czinput">
    <span>充值金额</span>
    <input type="text" placeholder="请输入充值金额">
  </div>
  <p class="r-czsm">充值说明：充值的余额为现金余额</p>
  <div class="wop-apyway">
      <label class="wop-line">
        <div class="wopa-way">
          <img src="./front/images/icon/payway-wx.png" alt="">
          <span>微信支付</span>
        </div>
        <p><input type="radio" name="payway" class="p-hook fill" checked></p>
      </label>
      <label class="wop-line">
        <div class="wopa-way">
          <img src="./front/images/icon/payway-zfb.png" alt="">
          <span>支付宝支付</span>
        </div>
        <p><input type="radio" name="payway" class="p-hook fill"></p>
      </label>
      <label class="wop-line">
        <div class="wopa-way">
          <img src="./front/images/icon/payway-yl.png" alt="">
          <span>银联卡支付</span>
        </div>
        <p><input type="radio" name="payway" class="p-hook fill"></p>
      </label>
    </div>
    <button type="button" class="wop-paybtn">充值</button>
</div>