<div class="sell-list">
    <p class="sl-top">选择商户</p>
    <div class="sl-box">
        <a href="javascript:void(0)">大鹿网鹿友</a>
        <a href="javascript:void(0)">爱玩旅游</a>
        <a href="javascript:void(0)">携程旅游</a>
        <a href="javascript:void(0)">大鹿网鹿友</a>
        <a href="javascript:void(0)">爱玩旅游</a>
        <a href="javascript:void(0)">携程旅游</a>
        <a href="javascript:void(0)">大鹿网鹿友</a>
        <a href="javascript:void(0)">爱玩旅游</a>
        <a href="javascript:void(0)">携程旅游</a>
        <a href="javascript:void(0)">大鹿网鹿友</a>
        <a href="javascript:void(0)">爱玩旅游</a>
        <a href="javascript:void(0)">携程旅游</a>
    </div>
</div>