<div class="add-new-photo">
    <ul class="anp-ul clr">
        <li class="anp-li"><img src="./front/images/l-manpage01.png" alt=""></li>   
        <li class="anp-li"><img src="./front/images/l-manpage01.png" alt=""></li> 
        <li class="anp-li"><img src="./front/images/l-manpage01.png" alt=""></li> 
        <li class="anp-li"><img src="./front/images/l-manpage01.png" alt=""></li> 
        <li class="anp-li anp-addpic">
            <i></i>
            <input type="file">
        </li>
    </ul>
</div>