<div class="comment-order">
  <div class="co-top">
    <div class="cot-img"><img src="http://placehold.it/300x300/09f/fff.png"></div>
    <div class="cot-info">
      <h3>英迈思一日游咨询</h3>
    </div>
  </div>
  <div class="co-area">
    <textarea placeholder="请输入评价内容" maxlength="200" ></textarea>
  </div>
  <div class="co-upload">
    <div class="up-img">
      <img src="http://placehold.it/300x300/09f/fff.png">
      <i></i>
    </div>
    <div class="up-btn">
      <input type="file">
    </div>
  </div>
  <div class="co-stars">
    <h3>服务评分</h3>
    <div class="cos-line">
      <label>出行建议</label>
      <p class="commont-star" data-star="0" data-canuse="true"></p>
    </div>
    <div class="cos-line">
      <label>美食介绍</label>
      <p class="commont-star" data-star="0" data-canuse="true"></p>
    </div>
    <div class="cos-line">
      <label>住宿推荐</label>
      <p class="commont-star" data-star="0" data-canuse="true"></p>
    </div>
    <div class="cos-line">
      <label>游玩建议</label>
      <p class="commont-star" data-star="0" data-canuse="true"></p>
    </div>
    <div class="cos-line">
      <label>服务态度</label>
      <p class="commont-star" data-star="0" data-canuse="true"></p>
    </div>
  </div>
</div>