<div class="offensive-strategy">
  <ul class="mr-menu-list">
      <li class="active"><a href="javascript:;;" onclick="changeTo('hot')" class="active">热门</a></li>
      <li><a href="javascript:;;"  onclick="changeTo('guonei')">国内攻略</a></li>
      <li><a href="javascript:;;"  onclick="changeTo('chuing')">出镜攻略</a></li>
      <li><a href="javascript:;;"  onclick="changeTo('bendi')">本地</a></li>
  </ul>
  <div class="mr-scroll-wall">
      <%= scrollWall %>
  </div>
  <div class="mr-city-wrap">
      <div class="mrc-choose">
      <span>西湖</span>
      <span>大理</span>
      <span>九寨沟</span>
      <span>都江堰</span>
      <span>张家界</span>
      </div>
      <div class="mrc-choose mrc-hide">
      <span>海南</span>
      <span>云南</span>   
      <span>四川</span>
      <span>浙江</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      </div>
      <span class="mr-more">更多</span>
  </div>
    
  <div class="os-section">
    <div class="oss-pagebox">
      <a href="#" class="oss-page">
        <div class="ossp-img">
          <img src="./front/images/l-photoR02.png" alt="">
        </div>
        <div class="ossp-txt">
            <div class="ossp-miaoshu">丽江古城又名大研镇，坐落于玉龙雪山下丽江坝子中部</div>
            <div>8980 浏览</div>
        </div>
      </a>
      <a href="#" class="oss-page">
          <div class="ossp-img">
            <img src="./front/images/l-photoR02.png" alt="">
          </div>
          <div class="ossp-txt">
              <div class="ossp-miaoshu">丽江古城又名大研镇，坐落于玉龙雪山下丽江坝子中部</div>
              <div>8980 浏览</div>
          </div>
        </a>
    </div>
  </div>
</div>