<div class="add-stabding">
    <div class="as-footbox">
        <div class="as-footimg">
            <img src="./front/images/icon/upimg.png" alt="">
            <p>照片</p>
        </div>
        <div class="as-footclose">
            <a href="javascript:;">×</a>
        </div>
    </div>
</div>