<div class="my-points">
  <div class="mw-box">
    <!-- 头部 -->
    <div class="mwb-page">
      <div class="myp-box">
          <div class="myp-left">
            <p class="myp-moneys">￥680</p>
            <p>当前积分</p>
          </div>
          <div class="myp-right">
            <!-- <p>激励残值：￥216.37</p> -->
            <p>累计积分：￥465.32</p>
            <p>积分抵扣：0</p>
            <p>当日积分：8</p>
          </div>
      </div>
    </div>
    <!-- 列表 -->
    <div class="mpn-section-box">
      <div class="mpn-section">
          <div class="mpn-list mpn-title">
            <p>日期</p>
            <p>积分变化</p>
            <p>当前积分</p>
            <p>备注</p>
          </div>
          <% for(var i = 0;i<12;i++){ %>
            <div class="mpn-list">
              <p>2017/08/30</p>
              <p>+4</p>
              <p>8</p>
              <p>增加4积分</p>
            </div>
          <%}%>
      </div>
    </div>
  
  </div>
</div>