<div class="income-people">
  <div class="ip-filex">
    <div class="ip-box">
      <div class="ip-page">
        <p>￥680</p>
        <span>今日达人收益</span>
      </div>
    </div>
    <div class="ip-nrpage">
      <div class="ipr-box">
        <div>
          <p>￥2680.6</p>
          <span>本月收益</span>
        </div>
        <div>
          <p>￥9680</p>
          <span>累计收益</span>
        </div>
      </div>
    </div>
  </div>
<!-- 列表 -->
  <div class="ipl-listbox">
    <div class="br-head">
      <h3>收益列表（24）</h3>
      <button type="button" class="br-sort" id="sort-list">倒序</button>
    </div>
    <div class="iplb-pages">
      <%for(var i=0;i<4;i++){%>
        <a class="ipl-record-item" href="">
          <div class="ipl-img"><img src="./front/images/missionImg.png"></div>
          <div class="ipl-info">
            <h3>大理白族自治州地处云南省中部偏西，海拔2090米</h3>
            <div>
                <p class="i-date">带团时间：2018年4月10日</p>
                <span class="i-date i-mt">大理</span>
            </div>
          </div>
          <div>￥680.6</div>
        </a>
      <%}%>
    </div>
  </div>
</div>