<div class="product-added">
    <div class="pa-head">
        <ul class="pa-menu-list">
            <li><a href="javascript:;;" class="pr-on">上线中</a></li>
            <li><a href="javascript:;;" >仓库</a></li>
            <li><a href="javascript:;;">审核中</a></li>
        </ul>
    </div>
    <div class="pa-big">
        <div class="pa-box pa-sxz">
            <%= productList({type:'sxz'})+ productList({type:'sxz'}) +productList({type:'sxz'})%>
        </div>
        <div class="pa-box pa-ck">
            <%= productList({type:'ck'})+ productList({type:'ck'}) +productList({type:'ck'})%>
        </div>
        <div class="pa-box pa-shz">
            <%= productList({type:'shz'})+ productList({type:'shz'}) +productList({type:'shz'})%>
        </div>
    </div>
    
</div>