<div class="share-area">
    <div class="sa-bantitl">
      <a href="javascript:;">近一个月</a>
      <a href="javascript:;">近三个月</a>
      <a href="javascript:;">三个月以前</a>
    </div>
    <div class="sab-title">
      <span>热门</span>
      <span>时间</span>
      <span>次数</span>
      <span>红包</span>
    </div>
    <div class="sa-banbox">
      <div class="sab-body">
      <%for(var i=0;i<5;i++){%>
        <div class="sab-page">
          <span>最美九寨沟 5.1组团游活动</span>
          <span>4月20日 12:30:60</span>
          <span>48723</span>
          <span>￥16.8</span>
        </div>
      <%}%>
    </div>
    </div>
</div>