<div class="put-forward">
  <div class="yhk-page-box">
    <div class="yhkpb-page">
        <div class="yhk-zhuti">
          <!-- 图标 -->
          <div class="yhk-pic">
            <img src="./front/images/icon/gongshang.png" alt="">
          </div>
          <div class="yhk-txt">
            <div class="yhkt-box">
                <p class="yhk-name">中国工商银行</p>
                <p>储蓄卡</p>
            </div>
            <p>6333 0340 ********317</p>
          </div>
        </div>
        <a href="#" class="yhk-tihuan">更换银行卡</a>
    </div>
  </div>

  <div class="pf-czbox">
      <div class="pfc-page">
          <span>充值金额</span>
          <input type="text" placeholder="请输入充值金额">
      </div>
      <div class="pfc-tishi">提现说明：充值的余额为现金余额</div>
      <div class="pfct-box">
          <div>可用余额</div>
          <div>手续费</div>
      </div>
  </div>

  <a href="javascript:;;" class="pf-btn">确认提货</a>
</div>