<div class="index-lists">
  <a href="025standingBack.html">25驻足回复</a>
  <a href="026addStanding.html">26新增驻足</a>
  <a href="028choosePhoto.html">28选择照片编辑照片内容</a>
  <a href="029photoRelease.html">29选择照片发布</a>
  <a href="030manRegiment.html">30达人带团</a>
  <a href="031manregimentList.html">31达人带团列表</a>
  <a href="032manDetails.html">32达人带团详情</a>
  <a href="033orderFilling.html">33达人带团订单填写</a>
  <a href="034travelingPerson.html">34达人带团出行人</a>
  <a href="035phoneNumber.html">35达人带团手机号</a> 
  <a href="057wizardOrderPay.html">36旅游产品支付界面</a> 
  <a href="037reportDetail.html">37报团人数明细</a> 
  <a href="038evaluationPeople.html">38达人带团评价</a> 
  <a href="039regimentList.html">39带团达人评价</a> 
  <a href="040missionDetails.html">40带团达人详情</a> 
  <a href="041bndRecord.html">41带团记录</a> 
  <a href="062haltDynamic.html">42达人驻足列表</a>
  <a href="063travelsNoteList.html">43达人游记列表</a>
  <a href="044ravelsList.html">44达人游记列表最新游记</a>
  <a href="045detailsTravelnotes.html">45达人游记详情
  <a href="025standingBack.html">46游记留言</a>
  <a href="047messageRepl.html">47回复留言</a>
  <a href="048regimentList.html">48达人带团排行榜</a>
  <a href="049offensiveStrategy.html">49游记攻略</a>
  <a href="050detailsStrategy.html">50攻略详情</a>
  <a href="107myWallet.html">107我的钱包</a>
  <a href="108myPoints.html">108我的积分</a>
  <a href="110myBalance.html">110我的余额</a>
  <a href="111recharge.html">111充值</a>
  <a href="112rechargeRecord.html">112充值记录</a>
  <a href="114putForward.html">114提现</a>
  <a href="115presentRecord.html">115提现记录</a>
  <a href="117sharingRecords.html">117分享专区</a>
  <a href="118shareArea.html">118分享记录</a>
  <a href="119incomePeople.html">119达人收益</a>
</div>

<div class="index-lists">
  <hr>
  <a href="051wizardService.html">051向导服务</a>
  <a href="052wizardDoyen.html">052向导服务达人列表</a>
  <a href="053wizardDoyenDetail.html">053向导服务达人详情</a>
  <a href="054wizardDoyenComment.html">054向导服务达人评价详情</a>
  <a href="055056wizardOrderFill.html">055-056向导服务订单填写</a>
  <a href="057wizardOrderPay.html">057向导服务订单支付</a>
  <a href="058addCommonPassenger.html">058添加常用旅客</a>
  <a href="060wizardDoyenInfo.html">060向导达人详情</a>
  <a href="061bandRecord.html">061带团记录</a>
  <a href="062haltDynamic.html">062驻足列表</a>
  <a href="063travelsNoteList.html">063游记列表</a>
  <a href="064accountNoSign.html">064账户中心（未登录）</a>
  <a href="071accountSetting.html">071设置</a>
  <a href="072personInfo.html">072个人信息</a>
  <a href="073editNickname.html">073修改昵称</a>
  <a href="074doyenPresent.html">074达人介绍</a>
  <a href="075editAge.html">075修改年龄</a>
  <a href="076birthLand.html">076修改故乡</a>
  <a href="088messageBroadcast.html">088消息通知</a>
  <a href="089doyenMessage.html">089达人消息</a>
  <a href="090systemMessage.html">090系统消息</a>
  <a href="091feedback.html">091意见反馈</a>
  <a href="095orderList.html">095商品订单</a>
  <a href="097orderDetail.html">097订单详情</a>
  <a href="1012commentGoods.html">101.2评价商品</a>
  <a href="1012commentConsult.html">101.2评价咨询</a>
  <a href="104barterDetail.html">104换货详情</a>
  <a href="104barterDetail.html">104.1换货详情</a>
  <a href="058addCommonPassenger.html">174添加常用旅客</a>
  <a href="058addCommonPassenger.html">181编辑常用旅客</a>
  <a href="175addVisaInfo.html">175添加签证信息</a>
  <a href="176addCommonAddrs.html">176添加常用地址</a>
  <a href="177invoiceList.html">177发票列表</a>
  <a href="178addInvoice.html">178新增发票</a>
  <a href="153orderForDoyenGroup.html">153订单中心-达人带团</a>
  <a href="1531DoyenGroupDetail.html">153.1组团情况</a>
  <a href="154doyenGroupHuman.html">154报团详情</a>
  <a href="155wayAndService.html">155线路/服务-未认证</a>
  <a href="156passengerMsg.html">156达人消息-旅客</a>
  <a href="158personalInfo.html">158个人信息</a>
  <hr>
</div>
<div class="index-lists">
  <a href="132orderService.html">132订单中心-向导服务</a>
  <a href="135productNoAdd.html">135服务中心-未添加</a>
  <a href="136addProduct.html">136添加产品</a>
  <a href="137addNewPhoto.html">137新增照片</a>
  <a href="138guideSet.html">138设置向导套餐</a>
  <a href="139guideSetEdit.html">139设置向导套餐-编辑</a>
  <a href="140consultSet.html">140设置咨询套餐</a>
  <a href="141consultSetEdit.html">141设置咨询套餐-编辑</a>
  <a href="142lineCertified.html">142线路-已认证</a>
  <a href="143lineNotAdd.html">143仓库-添加线路-未添加</a>
  <a href="144sellScreen.html">144合销产品筛选</a>
  <a href="145sellList.html">145合销商户列表</a>
  <a href="146sellDetail.html">146合销产品详情</a>
  <a href="148lineCenter.html">148线路中心</a>
  <a href="149lineCenterEdit.html">149线路中心-线路编辑</a>
  <a href="150lineCenterApply.html">150线路中心-仓库-申请出团</a>
  <a href="151lineCenterDate.html">151线路中心-仓库-申请出团-选择日期</a>
  <a href="152addLineEdit.html">152添加线路-已添加-编辑线路</a>
  <hr>
</div>

<style>
  .index-lists a{
    display: inline-block;
    padding:10px 30px;
    color: #4c4c4c;
    font-size: 14px;
  }
  .index-lists p{
    color: #ff6969;
    line-height: 30px;
  }
</style>