<div class="index-lists">
  <a href="025standingBack.html">25驻足回复</a>
  <a href="026addStanding.html">26新增驻足</a>
  <a href="028choosePhoto.html">28选择照片编辑照片内容</a>
  <a href="029photoRelease.html">29选择照片发布</a>
  <a href="030manRegiment.html">30达人带团</a>
  <a href="031manregimentList.html">31达人带团列表</a>
  <a href="032manDetails.html">32达人带团详情</a>
  <a href="033orderFilling.html">33达人带团订单填写</a>
  <a href="034travelingPerson.html">34达人带团出行人</a>
  <a href="035phoneNumber.html">35达人带团手机号</a> 
  <a href="057wizardOrderPay.html">36旅游产品支付界面</a> 
  <a href="037reportDetail.html">37报团人数明细</a> 
  <a href="038evaluationPeople.html">38达人带团评价</a> 
  <a href="039regimentList.html">39带团达人评价</a> 
  <a href="040missionDetails.html">40带团达人详情</a> 
  <a href="041bndRecord.html">41带团记录</a> 
  <a href="062haltDynamic.html">42达人驻足列表</a>
  <a href="063travelsNoteList.html">43达人游记列表</a>
  <a href="044ravelsList.html">44达人游记列表最新游记</a>
  <a href="045detailsTravelnotes.html">45达人游记详情
  <a href="025standingBack.html">46游记留言</a></a>
</div>

<div class="index-lists">
  <hr>
  <a href="051wizardService.html">051向导服务</a>
  <a href="052wizardDoyen.html">052向导服务达人列表</a>
  <a href="053wizardDoyenDetail.html">053向导服务达人详情</a>
  <a href="054wizardDoyenComment.html">054向导服务达人评价详情</a>
  <a href="055056wizardOrderFill.html">055-056向导服务订单填写</a>
  <a href="057wizardOrderPay.html">057向导服务订单支付</a>
  <a href="058addCommonPassenger.html">058添加常用旅客</a>
  <a href="060wizardDoyenInfo.html">060向导达人详情</a>
  <a href="061bandRecord.html">061带团记录</a>
  <a href="062haltDynamic.html">062驻足列表</a>
  <a href="063travelsNoteList.html">063游记列表</a>
  <a href="064accountNoSign.html">064账户中心（未登录）</a>
  <a href="071accountSetting.html">071设置</a>
  <a href="072personInfo.html">072个人信息</a>
  <a href="073editNickname.html">073修改昵称</a>
  <a href="074doyenPresent.html">074达人介绍</a>
  <a href="075editAge.html">075修改年龄</a>
  <a href="076birthLand.html">076修改故乡</a>
  <a href="088messageBroadcast.html">088消息通知</a>
  <a href="089doyenMessage.html">089达人消息</a>
  <a href="090systemMessage.html">090系统消息</a>
  <a href="091feedback.html">091意见反馈</a>
  <a href="095orderList.html">095商品订单</a>
  <a href="097orderDetail.html">097订单详情</a>
  <a href="1012commentGoods.html">101.2评价商品</a>
  <a href="1012commentConsult.html">101.2评价咨询</a>
  <hr>
</div>
<style>
  .index-lists a{
    display: inline-block;
    padding:10px 30px;
    color: #4c4c4c;
    font-size: 14px;
  }
</style>