<div class="index-lists">
  <a href="025standingBack.html">25驻足回复</a>
  <a href="051wizardService.html">051向导服务</a>
</div>

<style>
  .index-lists a{
    display: inline-block;
    padding:10px 30px;
    color: #4c4c4c;
    font-size: 14px;
  }
</style>