<div class="index-lists">
  <a href="025standingBack.html">25驻足回复</a>
  <hr/>
  <a href="026addStanding.html">26新增驻足</a>
  <hr/>
  <a href="028choosePhoto.html">28选择照片-3编辑照片内容</a>
</div>

<div class="index-lists">
  <a href="051wizardService.html">051向导服务</a>
  <a href="052wizardDoyen.html">052向导服务达人列表</a>
  <a href="053wizardDoyenDetail.html">053向导服务达人详情</a>
  <hr>
</div>
<style>
  .index-lists a{
    display: inline-block;
    padding:10px 30px;
    color: #4c4c4c;
    font-size: 14px;
  }
</style>