<div class="index-lists">
  <a href="025standingBack.html">25驻足回复</a>
  <hr/>
  <a href="026addStanding.html">26新增驻足</a>
  <hr/>
  <a href="028choosePhoto.html">28选择照片-3编辑照片内容</a>
</div>

<style>
  .index-lists a{
    display: inline-block;
    padding:10px 30px;
    color: #4c4c4c;
    font-size: 14px;
  }
</style>