<div class="index-lists">
  <a href="goodsDetail.html">商品详情</a>
  <a href="fillOrder.html">租赁页</a>
  <a href="tradeSuccess.html">交易完成</a>
  <a href="changePass.html">修改密码</a>
  <a href="changeTel1.html">修改手机1</a>
  <a href="changeTel2.html">修改手机2</a>
  <a href="changeTel3.html">修改手机3</a>
  <a href="changeTel4.html">修改手机4</a>
  <a href="addressList.html">管理收货地址</a>
  <a href="chooseAddress.html">选择收货地址</a>
  <a href="editAddress.html">新增/编辑收货地址</a>
  <a href="mineOrder.html">我的订单</a>
  <a href="orderDetail.html">订单详情</a>
  <a href="damageList.html">损坏记录</a>
  <a href="damageDetail.html">损坏详情</a>
  <a href="question.html">常见问题</a>
  <a href="pickupDetail.html">取货详情</a>
  <a href="deliveryList.html">送货订单列表</a>
</div>

<style>
  .index-lists a{
    display: inline-block;
    padding:10px 30px;
    color: #4c4c4c;
    font-size: 14px;
  }
</style>