<div class="doyen-center">
    <ul class="dc-hdul">
        <li class="dc-hdli">
            <div class="dc-hdlil">
                <img src="./front/images/tx-001.png">
                <span>下山打老虎</span>
            </div>
            <a href="javascript:;;" class="dc-hdlir">选择</a>
        </li>
    </ul>
    <ul class="dc-mul">
        <li class="dc-mli">
            <span>达人认证</span>
            <a href="javascript:;;" class="dc-mlir">选择</a>
        </li>
        <li class="dc-mli">
            <span>线下认证</span>
            <a href="javascript:;;" class="dc-mlir">选择</a>
        </li>
    </ul>
    <ul class="dc-mul">
        <li class="dc-mli">
            <span>收款设置</span>
            <a href="javascript:;;" class="dc-mlir">选择</a>
        </li>
    </ul>
    <a class="dc-change" href="javascript:;;">
        <i></i>
        <span>个人中心</span>
    </a>
</div>