@import './base'

.stading-back
	background-color: #fff
	.sb-zclist
		// padding 25px
		width 100%
		overflow hidden
		li
			botLine()
			padding Rem(25/2)
		.sb-listimg
			width Rem(90/2)
			height Rem(90/2)
			overflow hidden 
			border-radius: 50%
			display inline-block
			vertical-align top
			margin-right: Rem(20)
			position relative
			img
				abs(0,0,0,0)
				margin auto
				height 100%
		.sb-listtxt
			width Rem(520/2)
			display inline-block
			vertical-align top
			font-size Rem(28/2)
			.sb-c99
				font-size Rem(11)
				color #999999
			.sb-fs28
				font-size Rem(28/2)
			.sb-miaoshu
				color #999999
				padding Rem(5) 0
			.sb-diwei
				display inline-block
				color #fe8545
				font-size Rem(10)
				margin-left Rem(5)
			.sb-tippage
				display inline-block
				padding: Rem(5/2) Rem(5)
				color #fff
				font-size Rem(10)
				margin-left Rem(5)
			.sb-by
				background-color: #d1c8ff
			.sb-hj
				background-color: #ffdb87
			.sb-qt
				background-color: #ffbbf8
		.sb-right
			float right 
			img
				height Rem(40/2)
	.sb-footbox
		border-top 1px solid #e5e5e5
		padding Rem(15/2) 0
		position fixed
		bottom 0
		left 0
		width 100%
		background-color: #fff
		input
			width 86%
			padding 2%
			margin 0 5%
			border 0
			background-color #f4f4f4
			height Rem(20)
			letter-spacing 1px

            