@import './base'
.add-stabding
    .as-footbox
        position fixed
        bottom 0
        left 0
        width 100%
    .as-footimg
        padding Rem(20) 0
        text-align center
        p
            font-size Rem(14)
            color #999
            padding-top Rem(5)
        img
            width Rem(70)
    .as-footclose
        background-color #fff
        text-align center
        padding Rem(5) 0
        border-top 1px solid #e5e5e5
        a
            font-size Rem(40)
            color #999