
@import './base'

.report-detail
  .rd-list
    li
      background-color #fff
      border-bottom  1px solid #dcdcdc
      padding 0 Rem(10)
      height Rem(50)
      line-height Rem(50)
      font-size 0
      div
        font-size Rem(14)
        display inline-block
        vertical-align middle
      .rd-name
        margin-left Rem(5)
      .rd-img
        width 40%
        div
          display inline-block
          vertical-align middle
          justify-content center
          align-items center
          border-radius: 50%
          overflow hidden
          width Rem(30)
          height Rem(30)
          img
            max-width 100%
            max-height 100%
      .rd-time
        width 40%
        color: #666666
        text-align right 
      .rd-leabe
        width 20%