@import './base'

.message-repl
    text-align center
    position:fixed;
    height 96%
    width 96%
    left 0
    top: Rem(45)
    padding 2%
    background-color: #fff
    textarea
      width: 100%
      height: 100%
      margin: 0 auto
      text-align: left
      border: 0
  