@import './base'

.wizard-service
  .ws-scroll-wall
    .swiper-pagination-bullet
      background #fff
      opacity 1
      transition .3s
    .swiper-pagination-bullet-active
        background $theme-color
  .ws-city-wrap
    position relative
    background #fff
    line-height Rem(30)
    .wsc-choose
      display flex
      flex-flow row wrap
      justify-content space-between
      align-items center
      padding Rem(10) Rem(75) Rem(10) Rem(10)
      color #666666
      font-size Rem(15)
      botLine()
      &.wscc-hide
        visibility hidden
        z-index -99
        background #fff
        position absolute
        top 100%
        left 0px
        width 100%
        box-sizing border-box
        justify-content flex-start
        padding Rem(10) 0
        span
          padding 0 Rem(10)
        &.active
          z-index 2
          visibility visible
          animation emersion .7s
        &.unactive
          z-index 2
          visibility visible
          animation unemersion .7s
    .wsx-more
      position absolute
      right Rem(10)
      top Rem(10.5)
      color #999999
      getBg('more-xs')
      padding-right Rem(15)
      background-position right center
      background-size Rem(19/2) auto
  .ws-scenery
    display flex
    flex-flow row wrap
    padding Rem(10) Rem(10) 0 Rem(10)
    background #fff
    >a
      line-height Rem(30)
      padding 0 Rem(10)
      margin 0 Rem(10) Rem(10) 0
      background #eff3f6
      color #666666
      border-radius 3px
  .ws-section
    .ws-item
      display block
      padding Rem(10)
      margin-top Rem(10)
      background #fff
      .wsi-top
        display flex
        padding-bottom Rem(10)
        botLine()
      .wsi-img
        flex 0 0 Rem(130)
        display flex
        justify-content center
        align-items center
        margin-right Rem(20)
        >img
          max-width 100%
          max-height 100%
      .wsi-info
        display flex
        flex-flow column
        >h3
          color #333333
          line-height Rem(21)
      .wsi-hulm
        display flex
        justify-content space-between
        margin-top Rem(10)
        line-height Rem(21)
        p
          color #666666
          font-size Rem(12)
          i
            font-size Rem(15)
            color #ff0000
            em
              margin-left Rem(3)
              font-size Rem(11)
        .h-name
          color #333333
          font-size Rem(14)
          font-weight 600
          display flex
          align-items center
          .female,.man
            width Rem(21)
            height Rem(21)
            margin-left Rem(5)
          .female
            getBg('female')
            background-size Rem(25/2) auto
            background-position center
          .man
            getBg('man')
            background-size Rem(25/2) auto
            background-position center
      .wsi-bot
        >p
          margin-top Rem(10)
          font-size Rem(13)
          color #666666
          >span:last-child
            margin-left Rem(15)
            padding-left Rem(5)
            position relative
            &:before
              content ''
              display block
              width 1px
              height Rem(8)
              background #666
              position absolute
              left 0px
              top 0px
              bottom 0px
              margin auto


    