@import './base'

.halt-dynamic
  padding-top Rem(50)
  .hd-head
    position fixed
    top Rem(45)
    left 0px
    z-index 3
    width 100%
    display flex
    justify-content space-between
    align-items center
    height Rem(50)
    padding 0 Rem(10)
    background #fff
    color #666666
    box-sizing border-box
    botLine()
    >h3
      font-size Rem(15)
      font-weight 600
    >ul
      display flex
      align-items center
      >li
        line-height Rem(30)
        padding 0 Rem(15)
        border-radius 30px
        background #eff3f6
        margin-left Rem(10)
  .hd-body
    .hd-section
      margin-top Rem(10)
      background #fff
      >h3
        font-size Rem(16)
        font-weight 600
        color #333333
        text-align center
        line-height Rem(50)
        botLine()
      .hd-items
        .halt-item
         padding Rem(10)
        
