@import './base'

.acc-more-list
  background #fff
  .aml-item
    display flex
    justify-content space-between
    align-items center
    padding Rem(10) Rem(30) Rem(10) Rem(10)
    line-height Rem(30)
    font-size Rem(15)
    color #333333
    toMore(15)
    botLine()
    &:last-child
      border 0
  &.nomore .aml-item
    padding Rem(10)
    &:after
      display none !important
  &.mb-10
    margin-bottom Rem(10)
.acc-more-title
  padding Rem(10)
  font-size Rem(13)
  color #666
    