@import './base'

.acc-fill-edit
  padding Rem(10)
  background #fff
  .afe-filltxt
    width 100%
    height Rem(40)
    border 0
  .afe-fillaera
    width 100%
    height Rem((200/(350/14))*25)
    line-height Rem(25)
    border 0