@import './base'

.feed-back
  .fd-top
    padding Rem(10) Rem(10) Rem(10) Rem(50)
    background #fff url('../assets/images/icon/feed-back.png') Rem(10) center no-repeat
    background-size Rem(57/2) auto
    line-height Rem(22)
    font-size Rem(15)
    color #333
    margin-bottom Rem(10)
  .fd-title
    padding Rem(10)
    font-size Rem(15)
    color #333
  .fd-area
    padding Rem(10)
    background #fff
    margin-bottom Rem(10)
    >textarea
      width 100%
      height Rem(100)
      line-height Rem(20)
      resize none
      border 0
  .fd-text
    padding Rem(10)
    background #fff
    margin-bottom Rem(10)
    >input[type=text]
      width 100%
      height Rem(30)
      border 0
  .fd-tips
    padding Rem(10)
    color #666666
    line-height Rem(22)