@import './base'

.order-detai
  .od-addrs
    padding Rem(10)
    background #fff
    line-height Rem(21)
    color #333
    margin-bottom Rem(10)
    .oda-top
      display flex
      justify-content space-between
      align-items center
      margin-bottom Rem(5)
  .od-express
    display block
    padding Rem(10) Rem(20) Rem(10) Rem(40)
    margin-bottom Rem(10)
    background #fff url('../assets/images/icon/icon-express.png') Rem(10) center no-repeat
    background-size Rem(20) auto
    color $theme-color
    line-height Rem(20)
    toMore()
    >h3
      ellp()
    >p
      text-indent Rem(10)
      font-size Rem(13)
      color #999
  .od-price-list
    background #fff
    margin Rem(10) 0
    line-height Rem(20)
    font-size Rem(13)
    color #333333
    .opl-line
      display flex
      justify-content space-between
      align-items center
      padding Rem(10)
      border-bottom 1px solid #f0f0f0
    .opl-total
      padding Rem(10)
      font-weight 600
      >span
        margin-right Rem(15)
  .od-infos
    padding Rem(10)
    background #fff
    font-size Rem(13)
    line-height Rem(26)
    color #666