
@import './base'

.income-people
  .ip-filex
    position fixed
    top: 0
    left 0
    width 100%
    z-index 9
  .ip-box
    // margin-top Rem(-45)
    getBg("mywalletBg")
    background-size 100% auto
    height Rem(200)
    .ip-page
      padding-top Rem(70)
      color: #fff
      text-align: center
      line-height: Rem(25)
      p
        font-size: Rem(25)
      span
        font-size: Rem(12)
  .ip-nrpage
    margin-top Rem(-10)
    border-top-left-radius Rem(10)
    border-top-right-radius Rem(10)
    overflow hidden
    .ipr-box
      display flex
      justify-content space-between
      align-items: center
      padding Rem(15) 0
      background-color #fff
      >div
        text-align center
        position relative
        width 50%
        line-height Rem(20)
        &:first-child:after
          content: ''
          position absolute
          top: 0
          right 0
          width 1px
          height 100%
          background-color: #eee
        p
          color: #666
          font-size: Rem(20)
        span
          color: #999
          font-size: Rem(12)
  .ipl-listbox
    margin-top Rem(220)
    .br-head
      top Rem(45)
      left 0px
      width 100%
      z-index 5
      display flex
      align-items center
      justify-content space-around
      height Rem(40)
      background #fff
      botLine()
      >h3
        color $theme-color
        font-weight 600
      .br-sort
        position relative
        border 0
        padding-right Rem(15)
        background #fff
        &:after
          content ''
          display block
          abs(3,0,0,auto)
          margin auto
          width Rem(9)
          height Rem(6)
          getBg('icon-sort')
          background-position 0 Rem(-8)
          background-size Rem(9) Rem(14)
          transition .3s background-position
        &.down:after
          background-position 0 0
    .iplb-pages
      background-color: #fff
      .ipl-record-item
        padding: Rem(10)
        margin 0 Rem(10)
        display flex
        justify-content: space-between
        align-items: center
        botLine()
        color #333
        .ipl-img
          display flex
          justify-content: space-between
          align-items: center
          width Rem(150)
          height Rem(90)
          background-color: #eee
          border-radius: Rem(8)
          img
            max-width 100%
            max-height: 100%
        .ipl-info
          padding 0 Rem(10)
          color: #333
          line-height: Rem(20)
          >div
            color: #666
            margin-top Rem(10)
            font-size: Rem(12)