@import './base'

.name-auth
    .tc
        text-align: center
    .na-img
        margin Rem(155/2) 0 Rem(25)
        img 
            width Rem(137/2)
            height Rem(163/2)
            display inline-block
    .na-pa
        font-size: Rem(15)
        color $theme-color
        margin-bottom Rem(45/2)
    .na-txt
        font-size: Rem(14)
        color #666666
        line-height Rem(16)
        margin-bottom: Rem(70)
    .na-rz
        a
            height Rem(50)
            line-height: Rem(50)
            display: block
            padding 0 Rem(15)
            color #333333
            font-size: Rem(15)
            background-color: #ffffff
            margin-bottom Rem(10)