@import './base'

.name-auth-edit
    .nae-top
        color #999999
        font-size: Rem(11)
        height Rem(30)
        line-height: Rem(30)
        padding 0 Rem(15)
    .nae-bx
        background-color: #ffffff
        font-size: Rem(15)
        color: #333333
        .nae-bxpa
            height Rem(50)
            line-height: Rem(50)
            padding: 0 Rem(15)
            botLine()
            input 
                width Rem(200)
                height Rem(45/2)
                line-height: Rem(45/2)
                padding Rem(5/2) 0
                margin-left Rem(10)
                border none
                font-size: Rem(14)
            .nae-bxpsa
                font-size: Rem(14)
                margin-left Rem(10)
    .nae-btn
        display block
        height Rem(50)
        width Rem(355)
        border-radius 3px
        margin Rem(50) auto Rem(15)
        background $theme-color
        color #fff
        border 0
        font-size Rem(15)
    .nae-btp
        font-size: Rem(11)
        color #999999
        text-align: center
        i 
            width Rem(15)
            height Rem(13)
            getBg('c-card')
            background-size Rem(15) Rem(13)
            display inline-block
            margin-right Rem(10)
            vertical-align: middle;