@import './base'

.name-authing
    .tc
        text-align: center
    .na-img
        margin-top Rem(100)
        img 
            width Rem(116/2)
            height Rem(133/2)
    .na-pa
        color #666666
        font-size: Rem(18)
        margin Rem(10) 0 Rem(15)
    .na-pb
        color #999999
        font-size: Rem(12)
        width 68%
        margin 0 auto
        line-height: Rem(16)