@import './base'

.auth-fail
    .tc
        text-align: center
    .af-img
        margin-top Rem(100)
        img 
            width Rem(110/2)
            height Rem(126/2)
    .af-pa
        color #666666
        font-size: Rem(18)
        margin Rem(10) 0 Rem(15)
    .af-pb
        color #999999
        font-size: Rem(12)
        width 68%
        margin 0 auto
        line-height: Rem(16)
    .af-btn
        display block
        height Rem(50)
        width Rem(355)
        border-radius 3px
        margin Rem(50) auto Rem(15)
        background $theme-color
        color #fff
        border 0
        font-size Rem(15)