@import './base'

.name-auth-done
    .tc
        text-align: center
    .nad-img
        margin Rem(155/2) 0 Rem(25)
        img 
            width Rem(137/2)
            height Rem(163/2)
            display inline-block
    .nad-pa
        font-size: Rem(15)
        color $theme-color
        margin-bottom Rem(45/2)
    .nad-txt
        font-size: Rem(14)
        color #666666
        line-height Rem(16)
        margin-bottom: Rem(35)
    .nad-msg
        width 80%
        background-color #ffffff
        border-radius: 5px
        padding Rem(15)
        margin 0 auto Rem(30)
        p
            color #666666
            font-size Rem(14)
            margin-bottom Rem(10)
            &:last-child
                margin-bottom 0
            span 
                color #333333
                width Rem(75)
                text-align: right 
                display: inline-block
                margin-right Rem(10)
    .nad-bkp
        color #666666
        font-size Rem(11)
        margin-bottom Rem(10)
        padding 0 Rem(15)
    .nad-bkg
        height Rem(50)
        background-color #ffffff
        padding: 0 Rem(15)
        display: flex
        justify-content: space-between
        align-items: center
        color #333333
        font-size Rem(15)
        position relative
        .nad-bkgr
            font-size 0
            beMore(15)