
@import './base'
.add-bankcard
  .ab-addBtn
    margin-top Rem(10)
    a
      display block
      background-color #fff
      color: #999
      text-align center
      height Rem(50)
      line-height: Rem(50)
      .ab-addicon
        width Rem(25/2)
        height Rem(25/2)
        display inline-block
        getBg("add")
        background-size: contain