@import './base'

.refuse-refund
    .rr-box
        background-color #ffffff
        padding Rem(10)
        .rr-boxtxt
            width 95%
            height Rem(130)
            color #333333
            font-size Rem(13)
            line-height Rem(16)
            border none 
            padding 2.5%
            background-color: #f5f5f5