@import './base'

.product-added
    .pa-head
        position: fixed
        top Rem(45)
        left 0
        right 0
        z-index 99
        .pa-menu-list
            background-color: #fff
            font-size: 0
            border-bottom 1px solid #e6e6e6
            display: flex
            justify-content: space-around
            li
                font-size: Rem(14)
                display: inline-block
                text-align: center
                a
                    padding: Rem(10) 0
                    display: inline-block
                    color #666
                .pr-on
                    border-bottom 1px solid $theme-color
                    color $theme-color
    .pa-big
        margin-top Rem(45)
        .pa-box
            display none
        .pa-sxz
            display block