@import './base'

.product-no-add
    .pna-adda
        width 100%
        height Rem(50)
        background-color #ffffff
        text-align center
        line-height Rem(50)
        display block
        font-size Rem(15)
        color #999999
        i
            width Rem(12.5)
            height Rem(12.5)
            getBg('add')
            background-size Rem(12.5) Rem(12.5)
            display inline-block
            margin-right Rem(10)
    .pna-p
        font-size Rem(14)
        color #999999
        text-align center
        margin-top Rem(55)