@import './base'

.add-label
    .al-selbx
        background-color:#ffffff
        padding Rem(10) Rem(15)
        .al-bqa
            float left
            height Rem(33/2)
            line-height Rem(33/2)
            font-size: Rem(11)
            padding Rem(5)
            border-radius: 3px
            margin-right:Rem(10)
        .colorb
            color #00c0ff
            border 1px solid #00c0ff
        .colory
            color #fe8545
            border 1px solid #fe8545
        .colorg
            color #80c269
            border 1px solid #80c269
        .colorr
            color #e60012
            border 1px solid #e60012
    .al-bqbig
        padding Rem(10) Rem(15)
        .al-bqp
            color #666666
            font-size: Rem(15)
            margin-bottom Rem(10)
        .al-bqbx
            margin-right: Rem(-10)
            .al-bqa
                float left
                height Rem(33/2)
                line-height Rem(33/2)
                font-size: Rem(11)
                padding Rem(5)
                border-radius: 3px
                margin-right:Rem(10)
                margin-bottom Rem(10)
            .colorb
                color #00c0ff
                border 1px solid #00c0ff
            .colory
                color #fe8545
                border 1px solid #fe8545
            .colorg
                color #80c269
                border 1px solid #80c269
            .colorr
                color #e60012
                border 1px solid #e60012
    .al-btnbx
        padding 0 Rem(15)
        position: absolute
        left 0
        right 0
        bottom: Rem(15)
        .al-btn
            width 100%
            height Rem(45)
            line-height Rem(45)
            font-size: Rem(17)
            color #ffffff
            text-align: center
            background-color $theme-color
            display inline-block
            border-radius: 5px