@import './base'

.line-not-add
    .lna-menu-list
      background-color: #fff
      font-size: 0
      border-bottom 1px solid #e6e6e6
      li
          font-size: Rem(14)
          display: inline-block
          width 25%
          text-align: center
          a
              padding: Rem(10) 0
              display: inline-block
              color #666
          .pr-on
              border-bottom 1px solid $theme-color
              color $theme-color
    .lna-adda
        width 100%
        height Rem(50)
        background-color #ffffff
        text-align center
        line-height Rem(50)
        display block
        font-size Rem(15)
        color #999999
        i
            width Rem(12.5)
            height Rem(12.5)
            getBg('add')
            background-size Rem(12.5) Rem(12.5)
            display inline-block
            margin-right Rem(10)
    .lna-cont
        margin-top Rem(60)
        p
            color: #999999
            font-size: Rem(14)
            text-align: center
            line-height: Rem(18)