@import './base'

.line-center-edit
    .lce-bx
        padding: 0 Rem(10)
        background-color: #ffffff
        font-size: Rem(15)
        color: #333333
        .lce-bxpa
            height Rem(50)
            line-height: Rem(50)
            botLine()
            input 
                width Rem(200)
                height Rem(45/2)
                line-height: Rem(45/2)
                padding Rem(5/2) 0
                margin-left Rem(10)
                border none
        .lce-bxpb
            height Rem(50)
            line-height: Rem(50)
            display: flex
            justify-content: space-between
            .lce-bxpbsa
                color #999999
    .lce-msg
        margin-top Rem(15)
        padding 0 Rem(10)
        color #999999
        font-size: Rem(13)
        h3
            margin-bottom: Rem(10)
        p
            line-height: Rem(17)