@import './base'

.line-center-apply
    .lca-list
        display block
        padding Rem(10)
        background #fff
        margin-bottom: Rem(10)
        .lca-top
            display flex
            justify-content space-between
            padding-bottom Rem(10)
            botLine()
            .lca-topl
                width Rem(130)
                position relative
                img 
                    width 100%
                    height Rem(100)
                    border-radius: Rem(2)
                .lca-toplsa
                    height Rem(35/2)
                    line-height: Rem(35/2)
                    border-radius Rem(35/2)
                    padding Rem(5/2) Rem(15/2)
                    font-size: Rem(12)
                    background-color: rgba(0,0,0,0.5)
                    color #fff
                    position absolute
                    top Rem(15/2)
                    left Rem(15/2)
            .lca-topr
                width Rem(415/2)
                .lca-toprh
                    color: #333333
                    font-size: Rem(14)
                    line-height: Rem(16)
                    ellps(line = 2)
                    margin-bottom: Rem(15)
                .lca-toprpa
                    color $theme-color
                    font-size: Rem(15)
                    margin-bottom: Rem(15)
                    span 
                        font-size: Rem(10)
                .lca-toprpb
                    display: flex
                    justify-content: space-between
                    font-size: Rem(12)
                    color: #666666
        .lca-btp
            margin-top: Rem(10)
            display: flex
            justify-content: space-between
            font-size: Rem(12)
            color: #666666
            .lca-btpl
                width Rem(210)
                ellp()
    .lca-bx
        padding: 0 Rem(10)
        background-color: #ffffff
        font-size: Rem(15)
        color: #333333
        .lca-bxpa
            height Rem(50)
            line-height: Rem(50)
            botLine()
            input 
                width Rem(200)
                height Rem(45/2)
                line-height: Rem(45/2)
                padding Rem(5/2) 0
                margin-left Rem(10)
                border none
        .lca-bxpb
            height Rem(50)
            line-height: Rem(50)
            display: flex
            justify-content: space-between
            position relative
            input 
                width Rem(150)
                height Rem(45/2)
                line-height: Rem(45/2)
                padding Rem(5/2) 0
                margin-left Rem(10)
                border none
                background-color #ffffff
            .lca-sel
                font-size 0
                beMore(15)
    