@import './base'

.add-common-addrs
  .aca-line
    padding Rem(10)
    background #fff
    display flex
    >label
      flex 0 0 Rem(70)
      line-height Rem(30)
    .aca-text
      flex 1 0 auto
      >input[type=text]
        width 100%
        height Rem(30)
        border 0