@import './base'

.invoice-list
  .il-item
    padding Rem(10)
    background #fff
    line-height Rem(25)
    display flex
    justify-content space-between
    margin-bottom Rem(10)
    color #333
  