$theme-color = #ff772e

Rem(num)
  return num == 'auto' ? auto : (num/14)rem

abs(t,r,b,l)
  position absolute
  top Rem(t)
  right Rem(r)
  bottom Rem(b)
  left Rem(l)

getBg(name)
  str = '../assets/images/icon/'+name+'.png'
  background url(str) no-repeat

botLine()
  border-bottom 1px solid #e5e5e5

ellp()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

ellps(line = 2)
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp line
  overflow hidden

toMore(r = 15)
  position relative
  &:after
    content ''
    display block
    width Rem(13/2)
    height Rem(24/2)
    position absolute
    right Rem(r)
    top 50%
    margin-top Rem(-(24/2/2))
    getBg('page-more')
    background-size Rem(13/2) Rem(24/2)
    background-position center
    
beMore(r = 15)
  position absolute
  display block
  width Rem(30)
  height Rem(30)
  position absolute
  right Rem(r)
  top 50%
  margin-top Rem(-(30/2))
  getBg('page-more')
  background-size Rem(13/2) Rem(24/2)
  background-position right center