@import './base'
@import './sprite'

.page-footer
  position fixed
  z-index 9
  left 0px
  bottom 0px
  width 100%
  height Rem(50)
  border-top 1px solid #e6e6e6
  background #fff
  display flex
  justify-content space-around
  .f-item
    display flex
    flex-flow column
    justify-content space-around
    align-items center
    padding-top Rem(5)
    .f-name
      line-height Rem(20)
      color #333
      font-size Rem(12)
  &.acc-footer
    .item1 .f-icon
      $accFooterSprite(5)
    .item2 .f-icon
      $accFooterSprite(7)
    .item3 .f-icon
      $accFooterSprite(1)
    .item4 .f-icon
      $accFooterSprite(3)
    .item1.active .f-icon
      $accFooterSprite(6)
    .item2.active .f-icon
      $accFooterSprite(8)
    .item3.active .f-icon
      $accFooterSprite(2)
    .item4.active .f-icon
      $accFooterSprite(4)
  &.dr-footer
    .item1 .f-icon
      $drFooterSprite(1)
    .item2 .f-icon
      $drFooterSprite(3)
    .item3 .f-icon
      $drFooterSprite(5)
    .item4 .f-icon
      $drFooterSprite(7)
    .item1.active .f-icon
      $drFooterSprite(2)
    .item2.active .f-icon
      $drFooterSprite(4)
    .item3.active .f-icon
      $drFooterSprite(6)
    .item4.active .f-icon
      $drFooterSprite(8)
