@import './base'

$headerSprite(num)
  background: url('../assets/images/header-sprites.png') no-repeat
  background-size Rem(419) Rem(40)
  if num == 1
    background-position Rem(-5) Rem(-5) 
    width Rem(6)
    height Rem(5)
  if num == 2
    background-position Rem(-21) Rem(-5) 
    width Rem(10)
    height Rem(6)
  if num == 3
    background-position Rem(-41) Rem(-5) 
    width Rem(11)
    height Rem(19)
  if num == 4
    background-position Rem(-61) Rem(-5) 
    width Rem(12)
    height Rem(11)
  if num == 5
    background-position Rem(-83) Rem(-5) 
    width Rem(15)
    height Rem(15)
  if num == 6
    background-position Rem(-108) Rem(-5) 
    width Rem(15)
    height Rem(15)
  if num == 7
    background-position Rem(-133) Rem(-5) 
    width Rem(16)
    height Rem(9)
  if num == 8
    background-position Rem(-159) Rem(-5) 
    width Rem(19)
    height Rem(15)
  if num == 9
    background-position Rem(-187) Rem(-5) 
    width Rem(20)
    height Rem(19)
  if num == 10
    background-position Rem(-217) Rem(-5) 
    width Rem(20)
    height Rem(19)
  if num == 11
    background-position Rem(-247) Rem(-5) 
    width Rem(20)
    height Rem(20)
  if num == 12
    background-position Rem(-277) Rem(-5) 
    width Rem(23)
    height Rem(23)
  if num == 13
    background-position Rem(-309) Rem(-5) 
    width Rem(25)
    height Rem(25)
  if num == 14
    background-position Rem(-344) Rem(-5) 
    width Rem(30)
    height Rem(30)
  if num == 15
    background-position Rem(-384) Rem(-5) 
    width Rem(30)
    height Rem(30)