
@import './base'

.mr-item
  display block
  padding Rem(10)
  background #fff
  botLine()
  .mri-top
    display flex
  .mr-botBox
    display flex
    justify-content space-between
    >div
      >p
        margin-top Rem(8)
        color: #666
        font-size: Rem(13)
  .mri-img
      flex 0 0 Rem(130)
      display flex
      justify-content center
      align-items center
      margin-right Rem(20)
      border-radius Rem(4)
      overflow hidden
      position relative
      >img
        max-width 100%
        max-height 100%
      .mr-tiply
        height Rem(35/2)
        line-height: Rem(35/2)
        border-radius Rem(35/2)
        padding Rem(5/2) Rem(15/2)
        font-size: Rem(12)
        background-color: rgba(0,0,0,0.5)
        color #fff
        position absolute
        top Rem(15/2)
        left Rem(15/2)
    .mri-info
      display flex
      flex-flow column
      >h3
        color #333333
        line-height Rem(21)
    .mri-hulm
        display flex
        justify-content space-between
        margin-top Rem(10)
        line-height Rem(21)
        p
          color #666666
          font-size Rem(12)
          i
            font-size Rem(15)
            color #ff0000
            em
              margin-left Rem(3)
              font-size Rem(11)
        .mr-heaImg
          width Rem(40)
          height Rem(40)
          border-radius 50%
          border 1px solid #f3f3f3  
          overflow hidden
          display flex
          justify-content center
          align-items center
          >img
            max-width 100%
            max-height 100%
        .mr-jp
          width Rem(16)
          height Rem(15)
          overflow hidden
          float right
          display flex
          align-items center
          .mr-jpIcon
            getBg('jinpai')
            width Rem(21)
            height Rem(21)
            background-size Rem(25/2) auto
            background-position center
        .mr-name
          color #333333
          font-size Rem(14)
          font-weight 600
          display flex
          align-items center
          max-width Rem(90)
          ellp()