@import './base'

.halt-item
  background #fff
  padding Rem(10) 0
  .hi-link
    display block
  .hi-img
    position relative
    display flex
    justify-content center
    align-items center
    >img
      max-width 100%
      border-radius 5px
  .hi-title
    line-height Rem(25)
    padding Rem(10) 0
    color #333
    font-weight 600
  .hi-info
    display flex
    align-items center
    justify-content space-between
    color #666
    .i-cont
      flex 0 0 Rem(250)
      ellp()