@import './base'

.se-list
  display block
  padding Rem(10)
  background #fff
  margin-bottom: Rem(10)
  .se-top
    display flex
    justify-content space-between
    padding-bottom Rem(10)
    botLine()
    .se-topl
      width Rem(130)
      position relative
      img 
        width 100%
        height Rem(100)
        border-radius: Rem(2)
      .se-toplsa
        height Rem(35/2)
        line-height: Rem(35/2)
        border-radius Rem(35/2)
        padding Rem(5/2) Rem(15/2)
        font-size: Rem(12)
        background-color: rgba(0,0,0,0.5)
        color #fff
        position absolute
        top Rem(15/2)
        left Rem(15/2)
    .se-topr
      width Rem(415/2)
      .se-toprh
        color: #333333
        font-size: Rem(14)
        line-height: Rem(16)
        ellps(line = 2)
        margin-bottom: Rem(15)
      .se-toprpa
        color $theme-color
        font-size: Rem(15)
        margin-bottom: Rem(15)
        span 
          font-size: Rem(10)
      .se-toprpb
        display: flex
        justify-content: space-between
        font-size: Rem(12)
        color: #666666
  .se-btp
    margin-top: Rem(10)
    display: flex
    justify-content: space-between
    font-size: Rem(12)
    color: #666666
    .se-btpl
      width Rem(210)
      ellp()
    .se-btpr
      width Rem(130)
      ellp()
    
    