@import './base'

.travels-note-item
  background #fff
  margin Rem(10) auto 0
  .tni-link
    display block
  .tni-img
    position relative
    display flex
    justify-content center
    align-items center
    >img
      max-width 100%
      border-radius 5px
  .tni-date
    position absolute
    bottom Rem(10)
    right Rem(10)
    display block
    padding 0 Rem(10)
    line-height Rem(18)
    font-size Rem(12)
    color #fff
    background rgba(0,0,0,.5)
    border-radius 10px
    z-index 2
  .tni-title
    line-height Rem(25)
    padding Rem(10) 0
    color #333
    font-weight 600
  .tni-info
    display flex
    align-items center
    justify-content space-between
    padding Rem(10) 0
    line-height Rem(20)
    border-top 1px solid #e6e6e6
    color #666666
    .tnii-view
      flex 0 0 auto
      display flex
      align-items center
      >p~p
        margin-left Rem(35)
  .tni-msg
    width Rem(15)
    height Rem(29/2)
    getBg('leave-word')
    background-size cover
    font-size 0
.likes
  display flex
  align-items center
  .icon
    width Rem(20)
    height Rem(18)
    getBg('l-collect')
    background-size Rem(25) Rem(46)
    background-position Rem(-3) Rem(-26)
    margin-right Rem(5)
  &.liked .icon
    background-position-y Rem(-3)