@import './base'

.title-count-more
  background #fff
  padding Rem(17) Rem(10)
  display flex
  justify-content space-between
  line-height Rem(15)
  botLine()
  .tcm-title
    font-size Rem(15)
    color #333333
    padding-left Rem(15)
    border-left 2px solid $theme-color
    font-weight 600
    i
      font-size Rem(14)
      color #666666
      font-weight normal
  .tcm-more
    color #666
    padding-right Rem(15)
    toMore(0)