<div class="collect-list">
    <div class="cl-sp ">
        <div class="cl-spbx clearfix">
            <div class="cl-sel">
                <input type="checkbox" name="sp" class="p-hook fill">
            </div>
            <div class="cl-cont ">
                <div class="cl-contl">
                    <img src="./front/images/l-manpage01.png">
                    <% if(type =="sp"){ %>
                        <span class="cl-contlsa">商品</span>
                    <% } %>
                    <% if(type =="lx"){ %>
                        <span class="cl-contlsa">旅行</span>
                    <% } %>
                    <% if(type =="dr"){ %>
                        <span class="cl-contlsa">达人带团</span>
                    <% } %>
                </div>
                <div class="cl-contr">
                    <h3 class="cl-contrh">徒步向导：美丽丽江、向导全程陪同服务、品位慢生活</h3>
                    <p class="cl-contrp">
                        <span class="cl-contrpa">¥99.00</span>
                        <span class="cl-contrpb">2998人购买</span>
                    </p>
                </div>
            </div>
            <a class="cl-del" href="javascript:void(0)">删除</a>
        </div>
    </div>
</div>