<% if(isFoot){ %>
<div class="page-footer">
  <a href="" class="f-item active">
    <i class="f-icon c-dingdan active"></i>
    <p class="f-name">菜单1</p>
  </a>
  <a href="" class="f-item">
    <i class="f-icon c-zhong"></i>
    <p class="f-name">菜单2</p>
  </a>
  <a href="" class="f-item">
    <i class="f-icon c-fangzi"></i>
    <p class="f-name">菜单3</p>
  </a>
  <a href="" class="f-item">
    <i class="f-icon c-xinxi"></i>
    <p class="f-name">菜单4</p>
  </a>
  <a href="" class="f-item red-point">
    <i class="f-icon c-wode"></i>
    <p class="f-name">菜单5</p>
  </a>
</div>
<% } %>