<% if(isFoot){ %>
  <% if(footType == "account"){ %>
    <div class="page-footer acc-footer fix-footer">
      <a href="" class="f-item item1">
        <i class="f-icon"></i>
        <p class="f-name">名品名店</p>
      </a>
      <a href="" class="f-item item2">
        <i class="f-icon"></i>
        <p class="f-name">旅游专区</p>
      </a>
      <a href="" class="f-item item3">
        <i class="f-icon"></i>
        <p class="f-name">旅游达人</p>
      </a>
      <a href="" class="f-item item4 active">
        <i class="f-icon"></i>
        <p class="f-name">个人中心</p>
      </a>
    </div>
  <% } %>
  <% if(footType == "doyen"){ %>
    <div class="page-footer dr-footer fix-footer">
      <a href="" class="f-item item1">
        <i class="f-icon"></i>
        <p class="f-name">订单</p>
      </a>
      <a href="" class="f-item item2">
        <i class="f-icon"></i>
        <p class="f-name">线路/服务</p>
      </a>
      <a href="" class="f-item item3">
        <i class="f-icon"></i>
        <p class="f-name">消息</p>
      </a>
      <a href="" class="f-item item4 active">
        <i class="f-icon"></i>
        <p class="f-name">达人中心</p>
      </a>
    </div>
  <% } %>
<% } %>