<div class="swiper-container swiper-trialDetail">
  <div class="swiper-wrapper">
      <div class="swiper-slide"><img class="fuil-img" src="http://placehold.it/750x750/fff/09f.png"></div>
      <div class="swiper-slide"><img class="fuil-img" src="http://placehold.it/750x750/fff/09f.png"></div>
      <div class="swiper-slide"><img class="fuil-img" src="http://placehold.it/750x750/fff/09f.png"></div>
  </div>
  <!-- 如果需要分页器 -->
  <div class="swiper-pagination"></div>
</div>