@import '../stylus/base'

@media screen and (max-width: 370px)
  html
    font-size 12px
    
@media (min-width: 375px)
	html
    font-size 14px
html,body
  height 100%

body
  background #f4f4f4
  color #363636

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder
  /* WebKit browsers */   
  color: #CBCBCB
input:-moz-placeholder, textarea:-moz-placeholder
  /* Mozilla Firefox 4 to 18 */   
  color: #CBCBCB
input::-moz-placeholder, textarea::-moz-placeholder 
  /* Mozilla Firefox 19+ */   
  color: #CBCBCB
input:-ms-input-placeholder, textarea:-ms-input-placeholder
  /* Internet Explorer 10+ */   
  color: #CBCBCB
  
input[type="button"],input[type="submit"],input[type="reset"],textarea
  -webkit-appearance none

.btn
  border: 0

.fuil-img
  max-width 100%
  max-height 100%

.body-main
  height 100%
  box-sizing border-box
  padding Rem(45) 0 0
  &.ptop-none
    padding-top 0
  
.page-main
  display flex
  flex-flow column
  min-height 100%
  padding 0 0 Rem(50)
  box-sizing border-box
  &.max-h
    flex 1 0 100%
  &.pbot-none
    padding-bottom 0
.lt
  float left
.rt
  float right

.alpha
  height 100%
  overflow hidden
  position relative

.alpha body
  height 100%
  overflow hidden

// 清除浮动
.clearfix:after
  content ''
  display block
  width 0
  height 0
  overflow hidden
  clear both
  float none

// tips
.show-tips
  position fixed
  width 100%
  top 40%
  z-index 399
  text-align center
  animation tips-in .7s
  >p
    display inline-block
    max-width (200/14)rem
    background rgba(0,0,0,.5)
    color #fff
    border-radius 100px
    padding (10/14)rem (20/14)rem
  @keyframes tips-in
    0%
      opacity 0
      transform scale(0)
    100%
      opacity 1
      transform scale(1)

// loading
.show-loading
  position fixed
  z-index 299
  top 50%
  left 50%
  margin-top -(150/2/14)rem
  margin-left -(150/2/14)rem
  width (150/14)rem
  height (150/14)rem
  border-radius 20px
  text-align center
  background rgba(0,0,0,.5)
  color #fff
  img
    width (50/14)rem
    height (50/14)rem
    margin (30/14)rem auto (30/14)rem
    animation forLoading 1s linear infinite
  @keyframes forLoading
    0%
      transform rotate(0deg)
    100%
      transform rotate(360deg)
// reachloading
.show-reach-loading
  width 100%
  height (50/14)rem
  display flex
  justify-content center
  align-items center
  background #f5f5f5
  color #c6c6c6
  font-size Rem(13)
  img
    width (12/14)rem
    height (12/14)rem
    margin-right Rem(5)
    animation forLoading 1s linear infinite
  @keyframes forLoading
    0%
      transform rotate(0deg)
    100%
      transform rotate(360deg)
.show-null-reach
  width 100%
  height (50/14)rem
  display flex
  justify-content center
  align-items center
  background #f5f5f5
  color #c6c6c6
  font-size Rem(13)

// 开关美化
input[type='checkbox'].p-switch,input[type='radio'].p-switch
  display inline-block
  width Rem(40)
  height Rem(20)
  vertical-align middle
  position relative
  cursor pointer
  overflow hidden
  box-sizing border-box
  margin 0 0 0 Rem(5)
  &:before
    content ""
    display block
    width Rem(40)
    height Rem(20)
    background #f9f9f9
    border 1px solid #b3b3b3
    border-radius Rem(40)
    box-sizing border-box
    transition .3s
  &:after
    content ""
    display block
    width Rem(18)
    height Rem(18)
    border-radius 100%
    background #fff
    position absolute
    left 1px
    top 1px
    box-shadow 0 0 5px rgba(0,0,0,.5)
    border-color transparent
    transition .3s
    transition-property box-shadow,left,background
    box-sizing border-box
  &:checked:before
    background #31cd31
  &:checked:after
    box-shadow 0 0 5px rgba(0,0,0,.5)
    left Rem(21)

// 弹窗背景
.bg-drop
  position fixed
  top 0px
  left 0px
  z-index 198
  width 100%
  height 100%
  background rgba(102,102,102,.7)
  animation drop-show .4s
.show-confirm
  position fixed
  left 0px
  right 0px
  top Rem(150)
  z-index 199
  margin auto
  width Rem(300)
  background #fff
  border-radius 10px
  overflow hidden
  box-shadow 0 0 10px rgba(0,0,0,.5)
  animation confirm-show .5s
  .sc-cont
    text-align center
    padding (30/14)rem (10/14)rem
  .btn-accept,.btn-cancel
    box-sizing border-box
    width 50%
    height (40/14)rem
    outline none
    box-shadow none
    background transparent
    border 0
  .btn-accept
    color #dc0202
  .btn-cancel
    color #666
  @keyframes confirm-show
    0%
      top (120/14)rem
      opacity 0
    100%
      top (150/14)rem
      opacity 1
  @keyframes drop-show
    0%
      opacity 0
    100%
      opacity 1

// 红星标注
.red-point
  position relative
  &:after
    content ''
    display block
    width 6px
    height 6px
    border-radius 100%
    background #f00
    position absolute
    right Rem(5)
    top Rem(5)