<div class="store-list">
    <div class="cl-sp ">
        <div class="cl-spbx clearfix">
            <div class="cl-sel">
                <input type="checkbox" name="sp" class="p-hook fill">
            </div>
            <div class="cl-cont ">
                <div class="cl-contl">
                    <img src="./front/images/l-manpage01.png">
                </div>
                <div class="cl-contr">
                    <h3 class="cl-contrh">小鹿网旅游</h3>
                    <div class="cl-contrp">
                        <span>总体评分：</span>
                        <span class="commont-star" data-star="5"></span>
                        <span>5分</span>
                    </div>
                </div>
            </div>
            <a class="cl-del" href="javascript:void(0)">删除</a>
        </div>
    </div>
</div>