
<div class="travels-box">
  <div class="tb-bot">
      <div class="tb-img">
          <img src="./front/images/l-photoR02.png" alt="">
          <div class="tb-tipstime">2018年5月10日</div>
      </div>
      <div class="tb-txt">我走过最长的路，就是去赏花的山路</div>
  </div>
  <div class="tb-foot-flex">
      <div>浏览数：56872</div>
      <div><button class="tb-dianz">45412</button></div>
      <div>2</div>
  </div>
</div>