<div class="doyen-detail-album">
  <div class="dda-item">
    <img src="http://placehold.it/300x300/09f/fff.png">
    <i class="dda-del"></i>
  </div>
  <div class="dda-item">
    <img src="http://placehold.it/300x300/09f/fff.png">
    <i class="dda-del"></i>
  </div>
  <div class="dda-item">
    <img src="http://placehold.it/300x300/09f/fff.png">
    <i class="dda-del"></i>
  </div>
  <div class="dda-item">
    <img src="http://placehold.it/300x300/09f/fff.png">
    <i class="dda-del"></i>
  </div>
  <div class="dda-item">
    <img src="http://placehold.it/300x300/09f/fff.png">
    <i class="dda-del"></i>
  </div>
</div>