<div class="wizard-service">
  <div class="ws-scroll-wall">
    <%= scrollWall %>
  </div>
  <div class="ws-city-wrap">
    <div class="wsc-choose">
      <span>海南</span>
      <span>云南</span>
      <span>四川</span>
      <span>浙江</span>
      <span>安徽</span>
    </div>
    <div class="wsc-choose wscc-hide">
      <span>海南</span>
      <span>云南</span>
      <span>四川</span>
      <span>浙江</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
    </div>
    <span class="wsx-more">更多</span>
  </div>
  <div class="ws-scenery">
    <a href="javascript:;">大理双塔</a>
    <a href="javascript:;">黄果树瀑布</a>
    <a href="javascript:;">天门山</a>
    <a href="javascript:;">玉龙雪山</a>
    <a href="javascript:;">鼓浪屿</a>
    <a href="javascript:;">故宫</a>
    <a href="javascript:;">九寨沟</a>
  </div>
  <div class="ws-section">
    <a class="ws-item" href="">
      <div class="wsi-top">
        <div class="wsi-img"><img src="http://placehold.it/260x200/14ccf3/fff.png"></div>
        <div class="wsi-info">
          <h3>徒步向导：美丽丽江、向导全程陪同服务、品位慢生活</h3>
          <div class="wsi-hulm">
            <div>
              <p class="h-name">何菲菲<span class="female"></span></p>
              <p>A级旅游达人</p>
            </div>
            <div>
              <p>咨询：<i><em>￥</em>98<em>起</em></i></p>
              <p>向导：<i><em>￥</em>98<em>起</em></i></p>
            </div>
          </div>
        </div>
      </div>
      <div class="wsi-bot">
        <p>
          <span>向导服务：206次</span>
          <span>5.0分（20条点评）</span>
        </p>
        <p>
          <span>向导服务：206次</span>
          <span>5.0分（20条点评）</span>
        </p>
      </div>
    </a>
    <a class="ws-item" href="">
      <div class="wsi-top">
        <div class="wsi-img"><img src="http://placehold.it/260x200/14ccf3/fff.png"></div>
        <div class="wsi-info">
          <h3>徒步向导：美丽丽江、向导全程陪同服务、品位慢生活</h3>
          <div class="wsi-hulm">
            <div>
              <p class="h-name">何菲菲<span class="man"></span></p>
              <p>A级旅游达人</p>
            </div>
            <div>
              <p>咨询：<i><em>￥</em>98<em>起</em></i></p>
              <p>向导：<i><em>￥</em>98<em>起</em></i></p>
            </div>
          </div>
        </div>
      </div>
      <div class="wsi-bot">
        <p>
          <span>向导服务：206次</span>
          <span>5.0分（20条点评）</span>
        </p>
        <p>
          <span>向导服务：206次</span>
          <span>5.0分（20条点评）</span>
        </p>
      </div>
    </a>
  </div>
</div>