<div class="wizard-service">
  <div class="ws-scroll-wall">
    <%= scrollWall %>
  </div>
  <div class="ws-city-wrap">
    <div class="wsc-choose">
      <span>海南</span>
      <span>云南</span>
      <span>四川</span>
      <span>浙江</span>
      <span>安徽</span>
    </div>
    <div class="wsc-choose wscc-hide">
      <span>海南</span>
      <span>云南</span>
      <span>四川</span>
      <span>浙江</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
      <span>安徽</span>
    </div>
    <span class="wsx-more">更多</span>
  </div>
  <div class="ws-scenery">
    <a href="javascript:;">大理双塔</a>
    <a href="javascript:;">黄果树瀑布</a>
    <a href="javascript:;">天门山</a>
    <a href="javascript:;">玉龙雪山</a>
    <a href="javascript:;">鼓浪屿</a>
    <a href="javascript:;">故宫</a>
    <a href="javascript:;">九寨沟</a>
  </div>
  <div class="ws-section">
    <%= wizardItem+wizardItem+wizardItem %>
  </div>
</div>