<div class="photo-release">
    <div class="pr-alert">
        <p>发布成功</p>
        <a href="javascript:;;" class="pr-close-alert">×</a>
    </div>
    <ul class="pr-menu-list">
        <li>
            <a href="javascript:;;" class="pr-on">推荐</a>
        </li>
        <li>
            <a href="javascript:;;">最新</a>
        </li>
        <li>
            <a href="javascript:;;">热门</a>
        </li>
        <li>
            <a href="javascript:;;">六月去哪儿</a>
        </li>
    </ul>
    <div class="pr-section">
      <a class="pr-item" href="javascript:;;">
        <div class="pr-img">
            <img src="./front/images/l-photoR01.png" alt="">
        </div>
        <div class="pr-txt">
            <p class="pr-txt-title">在康定</p>
            <p class="pr-txt-ms">康定，一座享誉世界的历史文化名城；一座跑马山界的历史文化名城；一座跑马山</p>
        </div>
      </a>
      <a class="pr-item" href="javascript:;;">
        <div class="pr-img">
            <img src="./front/images/l-photoR02.png" alt="">
        </div>
        <div class="pr-txt">
            <p class="pr-txt-title">1在康定</p>
            <p class="pr-txt-ms">康定，一座享誉世界的历史文化名城；一座跑马山界的历史文化名城；一座跑马山</p>
        </div>
      </a>
      <a class="pr-item" href="javascript:;;">
        <div class="pr-img">
            <img src="./front/images/l-photoR03.png" alt="">
        </div>
        <div class="pr-txt">
            <p class="pr-txt-title">2在康定</p>
            <p class="pr-txt-ms">康定，一座享誉世界的历史文化名城；一座跑马山界的历史文化名城；一座跑马山</p>
        </div>
      </a>
    </div>
</div>