<div class="my-buy-detail">
        <div class="mbd-topfix">
            <ul class="mbd-menu-list">
                <li><a href="javascript:;;" class="pr-on">回购完成</a></li>
                <li><a href="javascript:;;">回购申请中</a></li>
                <li><a href="javascript:;;">回购失败</a></li>
            </ul>
        </div>
    </div>