<div class="choose-photo">
    <div class="cp-pageBox">
        <div class="cp-pageImg">
            <img src="./front/images/l-fabuImg.jpg" alt="">
        </div>
        <div class="cp-pageMiao">
            <div class="cp-xiaotishi">
                <img src="./front/images/icon/photo.png" alt="">
                <span>拍摄时间</span>
                <div class="cp-times">
                    <span>2018年4月10日</span>
                    <span class="cp-ml">12：30</span>
                </div>
                <div class="cp-psAdrss">
                    <img src="./front/images/icon/gantan.png" alt="">
                    <input type="text" placeholder="请输入拍摄地">
                    <div class="cp-righticon">
                        <img src="./front/images/icon/right.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <ul class="l-gllist">
            <li>关联地址</li>
            <li class="on">韩香居</li>
            <li class="on">百果园</li>
            <li class="on">茶时刻teapoint</li>
        </ul>
    </div>
    <div class="cp-pageBox">
        <textarea id="" class="cp-textarea">香港是全球第三大金融中心，重要的国际金融、贸易和航运中心，与纽约、伦敦并称为“纽伦港”，是全球最自由经济体和最具竞争力城市之一，在世界享有极高声誉。</textarea>
    </div>
</div>

