<div class="details-strategy">
  <div class="mr-scroll-wall">
      <%= scrollWall %>
  </div>
  <div class="dt-page">
    <div class="dtp-txt">澳门+澳门威尼斯人度假村+大三巴牌坊+百老汇一日游【自由行/跟团游、高端没事纯玩三套餐可选】</div>
    <div class="dtp-miaos">
      <div class="dtpm-box">创建于2018年2月26日</div>
      <div class="dtpm-box">属   云南@丽江  丽江古城</div>
    </div>
    <div class="dtp-miaos">
        <div class="dtpm-box">56872 人已阅读</div>
        <div class="dtpm-box">
            <p class="dtpm-zan"><i onclick="shoucFun.changeCollect(this)"></i> 45412</p>
        </div>
      </div>
  </div>
  <div class="ds-datuanbox">
      <div class="mdd-top">
        <div class="mdd-img"><img src="http://placehold.it/300x300/09f/fff.png"></div>
        <div class="mdd-info">
          <div class="i-top">
            <h3>鹿友大团长</h3>
            <div>
              <button type="button" onclick="followFunc.changeFollow(this)" class="follow ">关注</button>
            </div>
          </div>
          <p class="i-level">A级旅游达人</p>
        </div>
      </div>
  </div>

  <div class="ds-section">
    <div class="dts-title">
      <p>带团游记</p>
    </div>
    <div class="dts-list-box">
      <%for(var i=0;i<2;i++){%>
      <a href="javascript:;;" class="dts-list">
        <div class="dtsl-img">
          <img src="./front/images/l-photoR04.png" alt="">
        </div>
        <div class="dtsl-txt">
            每一次出行，总有它的故事。涠洲岛，我心中的秘密花园
        </div>
      </a>
      <%}%>
    </div>
  </div>
</div>