<div class="guide-set-edit">
    <p class="gse-top">
        <a href="javascript:void(0)">添加套餐</a>
        <a class="gse-closei" href="javascript:void(0)"></a>
    </p>
    <ul>
        <li class="gse-li">
            <p class="clr gse-lipa">
                <span class="gse-lisa">套餐编号：</span>
                <input class="gse-liinp" type="text">
            </p>
            <div class="gse-libt">
                <p>建议：统一设置为姓名首字母简称+日期格式，长度为12位</p>
                <p>例如：王二小+2018年5月10日，则编号为：wex20180510001</p>
            </div>
        </li>
        <li class="gse-li">
            <p class="clr gse-lipa">
                <span class="gse-lisa">套餐名称：</span>
                <input class="gse-liinp" type="text">
            </p>
            <div class="gse-libt">
                <p>小提示：设为具有服务特色和地方特色的标题，字数不超过15个20个字</p>
            </div>
        </li>
        <li class="gse-li">
            <p class="clr gse-lipa">
                <span class="gse-lisa">套餐价格：</span>
                <input class="gse-liinp" type="text">
            </p>
            <div class="gse-libt">
                <p>小提示：设为具有竞争力的价格，并提供优质的服务</p>
            </div>
        </li>
    </ul>
    <button type="button" class="gse-btn">添加</button>
    <p class="gse-ptxt">添加后套餐类型及价格自动展示在下方</p>
</div>