<div class="feed-back">
  <div class="fd-top">遇到问题了？点击在线客服立即解答您的问题。小鹿网为您解答。</div>
  <div class="fd-title">您的问题或建议</div>
  <div class="fd-area">
    <textarea placeholder="请简要描述您在使用产品过程中的问题和建议"></textarea>
  </div>
  <div class="fd-title">您的联系方式</div>
  <div class="fd-text"><input type="text" placeholder="邮箱（选填）"></div>
  <div class="fd-text"><input type="text" placeholder="手机号"></div>
  <div class="fd-tips">请留下您的联系方式，以便我们能够方便地了解问题以及给您反馈问题结果。紧急问题可以拨打电话400-028-6878获得及时帮助</div>
  <button type="button" class="long-page-btn">确定</button>
</div>