<div class="add-invoice">
  <div class="ai-type">
    <label>类型</label>
    <ul class="ait-list">
      <li class="active">企业</li>
      <li>政府机关/事业单位</li>
      <li>个人</li>
    </ul>
  </div>
  <div class="ai-wrap">
    <div class="ai-line">
      <label>抬头</label>
      <div class="ai-text"><input type="text" placeholder="必填，公司名称"></div>
    </div>
    <div class="ai-line">
      <label>税号</label>
      <div class="ai-text"><input type="text" placeholder="必填，纳税人识别号"></div>
    </div>
    <div class="ai-other">
      <label>需要增值税专用发票</label>
      <input type="checkbox" class="p-switch">
    </div>
  </div>
  <p class="ai-tips">点击保存，将为您清楚地址、电话、银行名称、银行账号相关信息。</p>
</div>