<div class="add-label">
    <div class="al-selbx clearfix">
        <a class="al-bqa colorb" href="javascript:void(0)">保险出行</a>
        <a class="al-bqa colory" href="javascript:void(0)">全程陪同</a>
    </div>
    <div class="al-bqbig">
        <p class="al-bqp">所有标签</p>
        <div class="al-bqbx clearfix">
            <a class="al-bqa colorb" href="javascript:void(0)">保险出行</a>
            <a class="al-bqa colory" href="javascript:void(0)">全程陪同</a>
            <a class="al-bqa colorg" href="javascript:void(0)">儿童免费</a>
            <a class="al-bqa colorr" href="javascript:void(0)">老人服务</a>
        </div>
    </div>
    <div class="al-btnbx">
        <a class="al-btn" href="javascript:void(0)">添加</a>
    </div>
    
</div>