<div class="report-detail">
  <ul class="rd-list">
    <% for(var i=0;i<=8;i++){%>
      <li>
        <div class="rd-img">
          <div>
            <img src="./front/images/l-mandetImg.png" alt="" />
          </div>
          <span class="rd-name">天生小丽质<%= i%></span>
        </div>
        <div class="rd-leabe">青铜鹿友</div>
        <div class="rd-time">2018年4月16日报名</div>
      </li>
    <%}%>
  </ul>
</div>