<div class="refund-progress">
  <div class="rp-top">
    <i class="rp-icon"></i>
    <!-- <i class="rp-icon succ"></i> -->
    <!-- <i class="rp-icon fail"></i> -->
    <p>退款申请提交成功，等待商家处理</p>
  </div>
  <div class="rp-progress">
    <!-- <ul>
      <li class="active">
        <label>退款申请</label>
        <span>2018-08-21 17:25:01</span>
      </li>
      <li>
        <label>商家审核</label>
      </li>
      <li>
        <label>退款结果</label>
      </li>
    </ul> -->
    <!-- <ul class="succ">
      <li>
        <label>退款申请</label>
        <span>2018-08-21 17:25:01</span>
      </li>
      <li>
        <label>商家审核</label>
        <span>2018-08-21 17:25:01</span>
      </li>
      <li>
        <label>退款成功</label>
        <span>商家同意退款，将原路退回款项</span>
      </li>
    </ul> -->
    <ul class="fail">
      <li>
        <label>退款申请</label>
        <span>2018-08-21 17:25:01</span>
      </li>
      <li>
        <label>商家审核</label>
        <span>2018-08-21 17:25:01</span>
      </li>
      <li>
        <label>退款失败</label>
        <span>商家拒绝退款，不符合退款规则</span>
      </li>
    </ul>
  </div>
  <div class="rp-score">
    <div class="rp-title">
      <h3>服务评分</h3>
    </div>
    <div class="rp-info">
      <p>订单号：<span>20180724116</span></p>
      <p>产品名：<span>达人带团产品</span></p>
      <p>退款原因：<span>行程变更</span></p>
      <p>积分抵扣：<span>16</span></p>
      <p>实付金额：<i>￥98.00</i></p>
      <p>商家留言：<span>无</span></p>
      <!-- <p>商家留言：<i>拒绝退款</i></p> -->
    </div>
  </div>
</div>