<div class="edit-barter">
  <div class="barter-item bg-w">
    <div class="bdi-img">
      <img src="http://placehold.it/190x190/09f/fff.png">
    </div>
    <div class="bdi-info">
      <h3>深圳中英街、深港环岛、地王观光、东部茶溪谷园博园休闲2天游</h3>
      <p class="i-info">
        <span>颜色：红色</span>
        <span>长度：1米</span>
        <span>类型：USB插口</span>
      </p>
      <p class="c-info">
        <label>换成：</label>
        <span>颜色：蓝色色</span>
        <span>长度：1米</span>
        <span>类型：USB插口</span>
      </p>
    </div>
  </div>
  <div class="eb-edit">
    <div class="ebe-line bt">
      <label>物流公司：</label>
      <div class="slc-box">
        <input type="text" readonly data-source="0" class="slc-curr" value="" placeholder="请选择物流公司">
        <ul class="slc-list">
          <li data-source="0">顺丰</li>
          <li data-source="1">圆通</li>
          <li data-source="2">京东</li>
        </ul>
        <input type="hidden">
      </div>
    </div>
    <div class="ebe-line">
      <label>物流单号：</label>
      <input type="text" class="ebe-text" placeholder="请填写物流单号">
    </div>
  </div>
  <div class="eb-edit">
    <div class="ebe-line">
      <label>手机号码：</label>
      <input type="text" class="ebe-text" placeholder="请填写手机号码">
    </div>
  </div>
  <div class="eb-edit">
    <div class="ebe-line">
      <label>退货说明：</label>
      <input type="text" class="ebe-text" placeholder="选填">
    </div>
  </div>
  <div class="eb-upload">
    <h3>上传凭证</h3>
    <div class="ebu-wrap">
      <div class="ebu-box">
        <img src="http://placehold.it/300x300/09f/fff.png">
        <i class="b-del"></i>
      </div>
      <div class="ebu-push">
        <input type="file">
      </div>
    </div>
  </div>
  <button type="button" class="long-page-btn">确定</button>
</div>