<div class="my-buy">
    <div class="mb-top">
        <h2>回购须知</h2>
        <p>好有惠是制造商、零售商、会员、服务商资源参与并维护的服务及消费型激励平台，是以商业服务促进公益发展为宗旨，鼓励重复消费，繁荣线下实体经济，优化产业循环，使多方合作共赢的分享经济模式。</p>
    </div>
    <a class="mb-adda" href=""><i></i>新增银行卡</a>
    <ul class="mb-ul">
        <li class="mb-li">
            <span>回购类型</span>
            <span>积分</span>
        </li>
        <li class="mb-li">
            <span>当前积分</span>
            <span>88.2</span>
        </li>
        <li class="mb-li">
            <span>可回购金额</span>
            <span>82.2</span>
        </li>
        <li class="mb-li">
            <div>
                <span>回购金额</span>
                <input type="text" placeholder="请输入100的整数倍">
            </div>
        </li>
        <li class="mb-li">
            <span>转入银行卡</span>
            <a href="javascript:;;" class="mb-lir">选择</a>
        </li>
        <li class="mb-li">
            <span>手续费</span>
            <span>12</span>
        </li>
        <li class="mb-li">
            <div>
                <span>交易安全密码</span>
                <input type="password" placeholder="请输入交易安全密码">
            </div>
        </li>
    </ul>
    <a class="mb-pswp" href="javascript:void(0)">忘记交易安全密码？</a>
    <button type="button" class="mb-btn">确定</button>
</div>