<div class="man-regiment">
    <ul class="mr-menu-list">
        <li><a href="javascript:;;" class="pr-on">国内游</a></li>
        <li><a href="javascript:;;">精选</a></li>
        <li><a href="javascript:;;">国外游</a></li>
        <li><a href="javascript:;;">端午推荐游</a></li>
    </ul>
    <div class="mr-scroll-wall">
        <%= scrollWall %>
    </div>
    <div class="mr-gocity">
        <span>出发地</span>
        <span>&gt;</span>
        <input type="text" class="" placeholder="请输入出发地">
        <a href="javascript:;;" class="mr-dingwei">
            <span>手动定位</span>
            <img src="./front/images/icon/city.png">
        </a>
    </div>
    <div class="mr-city-wrap">
        <div class="mrc-choose">
        <span>海南</span>
        <span>云南</span>
        <span>四川</span>
        <span>浙江</span>
        <span>安徽</span>
        </div>
        <div class="mrc-choose mrc-hide">
        <span>海南</span>
        <span>云南</span>   
        <span>四川</span>
        <span>浙江</span>
        <span>安徽</span>
        <span>安徽</span>
        <span>安徽</span>
        <span>安徽</span>
        <span>安徽</span>
        <span>安徽</span>
        <span>安徽</span>
        </div>
        <span class="mr-more">更多</span>
    </div>
    <div class="mr-scenery">
        <a href="javascript:;">大理双塔</a>
        <a href="javascript:;">黄果树瀑布</a>
        <a href="javascript:;">天门山</a>
        <a href="javascript:;">玉龙雪山</a>
        <a href="javascript:;">鼓浪屿</a>
        <a href="javascript:;">故宫</a>
        <a href="javascript:;">九寨沟</a>
    </div>
    <div class="mr-section">
        <div class="mr-item">
            <div class="mri-top">
                <div class="mri-img">
                    <img src="./front/images/l-manpage01.png">
                    <div class="mr-tiply">三日游+5天游</div>
                </div>
                <div class="mri-info">
                <h3>深圳励志冒险探索全能特训7日研学营</h3>
                <div class="mri-hulm">
                    <div class="mr-heaImg">
                        <img src="./front/images/l-manHea01.png" alt="">
                    </div>
                    <div>
                    <p class="mr-name">鹿友大团长</p>
                    <p>A级旅游达人</p>
                    </div>
                    <div>
                        <p><i><em>￥</em>99.00<em>起</em></i></p>
                        <div class="mr-jp"><span class="mr-jpIcon"></span></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="mr-botBox">
                <div>
                    <p>出发地：深圳</p>
                    <p>出团时间：2018年5月18日</p>
                </div>
                <div>
                    <p>团位：30位</p>
                    <p>剩余：8位</p>
                </div>
                <div class="mr-ztBox">
                    <a href="javascript:;;" class="mr-ztbtn">去组团</a>
                </div>
            </div>
        </div>
        <div class="mr-item">
            <div class="mri-top">
                <div class="mri-img">
                    <img src="./front/images/l-manpage01.png">
                    <div class="mr-tiply">三日游+5天游</div>
                </div>
                <div class="mri-info">
                <h3>深圳励志冒险探索全能特训7日研学营</h3>
                <div class="mri-hulm">
                    <div class="mr-heaImg">
                        <img src="./front/images/l-manHea01.png" alt="">
                    </div>
                    <div>
                    <p class="mr-name">鹿友大团长</p>
                    <p>A级旅游达人</p>
                    </div>
                    <div>
                        <p><i><em>￥</em>99.00<em>起</em></i></p>
                        <div class="mr-jp"><span class="mr-jpIcon"></span></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="mr-botBox">
                <div>
                    <p>出发地：深圳</p>
                    <p>出团时间：2018年5月18日</p>
                </div>
                <div>
                    <p>团位：30位</p>
                    <p>剩余：8位</p>
                </div>
                <div class="mr-ztBox">
                    <a href="javascript:;;" class="mr-ztbtn">去组团</a>
                </div>
            </div>
        </div>
    </div>
</div>