<div class="line-center-edit">
        <%= lineCenterItem({type:''}) %>
    <div class="lce-bx">
        <p class="lce-bxpa">
            <span>团位：</span>
            <input type="text" placeholder="组团人数">
        </p>
        <p class="lce-bxpb">
            <span>出团时间：5月15日</span>
            <span class="lce-bxpbsa">*出团时间不可修改</span>
        </p>
    </div>
    <div class="lce-msg">
        <h3>线路编辑记录：</h3>
        <p>2018年4月10日 申请上架；</p>
        <p>2018年4月15日 修改团位；</p>
    </div>
</div>