<div class="account-setting">
  <div class="acc-more-list mb-10">
    <a class="aml-item" href="">个人信息</a>
    <a class="aml-item" href="">账号管理与绑定</a>
    <a class="aml-item" href="">安全设置</a>
    <a class="aml-item" href="">消息通知</a>
  </div>
  <div class="acc-more-list mb-10">
    <a class="aml-item" href="">意见反馈</a>
    <a class="aml-item" href="">关于我们</a>
  </div>
</div>