<div class="recharge-recodrd">
  <ul class="rr-headerbox">
    <li>时间</li>
    <li>资金来源</li>
    <li>金额</li>
    <li>状态</li>
  </ul>
  <div class="rr-section">
    <!-- 有充值记录的时候 -->
    <%for(var i=0;i<14;i++){%>
      <div class="rrs-box">
        <p>2017/08/03</p>
        <p>+4</p>
        <p>8</p>
        <p>充值成功</p>
      </div>
    <%}%>
    <!-- 无充值记录的时候 添加类 active 显示 -->
    <div class="rrs-hiddcz">
        <i class="rrsh-icon"></i>
        <p>暂无充值记录</p>
    </div>
  </div>
</div>