<div class="order-service">
    <ul class="os-menu-list">
        <li><a href="javascript:;;" class="pr-on">待付款</a></li>
        <li><a href="javascript:;;">待出行</a></li>
        <li><a href="javascript:;;">出行完成</a></li>
        <li><a href="javascript:;;">待评价</a></li>
    </ul>
</div>
