
<div class="tranveling-person">
  <a class="tp-dachu">
    <i class="tp-tel-icon"></i>
    <span>从通讯录中导入</span>
  </a>
  <div class="tp-page-box">
      <div class="tp-page tp-mb">
          <span>中文姓名</span>
          <input type="text" placeholder="须与证件上的名字一致"> 
      </div>
      <div class="tp-page">
          <span>手机号</span>
          <input type="text" placeholder="输入手机号"> 
      </div>
  </div>

  <a href="javascript:;;" class="tp-subBtn">完成</button>
</div>