<div class="add-product">
    <div class="ap-tit">
        <p class="ap-titp">设置标题</p>
        <textarea class="ap-tittxt" placeholder="请输入服务标题，字数不超过20个汉字"></textarea>
    </div>
    <div class="ap-tit">
        <p class="ap-titp ap-picp">
            <span>上传图片</span>
            <a href="javascript:;;" class="ap-more">选择</a>
        </p>
        <div class="ap-picbx clr">
            <img src="./front/images/missionImg.png" alt="">
            <img src="./front/images/missionImg.png" alt="">
            <img src="./front/images/missionImg.png" alt="">
            <img src="./front/images/missionImg.png" alt="">
            <img src="./front/images/missionImg.png" alt="">
            <img src="./front/images/missionImg.png" alt="">
        </div>
    </div>
    <ul class="clr">
        <li class="ap-li">
            <span>目的地</span>
            <a href="javascript:;;" class="ap-gljd timebox"><span class="addr"></span></a>
        </li>
        <li class="ap-li">
            <span>关联景点</span>
            <a href="javascript:;;" class="ap-gljd" id="scenic"></a>
        </li>
        <li class="ap-li">
            <span class="ap-lisa">添加标签</span>
            <div class="clr">
                <span class="ap-lisb">保险出行，全程服务</span>
                <a href="javascript:;;" class="ap-more">选择</a>
            </div>
            
        </li>
        <li class="ap-li">
            <span>设置向导产品套餐</span>
            <a href="javascript:;;" class="ap-more">选择</a>
        </li>
        <li class="ap-li">
            <span>设置咨询产品套餐</span>
            <a href="javascript:;;" class="ap-more">选择</a>
        </li>
    </ul>
    <button type="button" class="ap-btn">添加</button>
</div>