<div class="order-filling">
  <div class="of-title">
    <h3>澳门+澳门威尼斯人度假村+大三巴牌坊+百老汇一日游【自由行/跟团游、高端没事纯玩三套餐可选】</h3>
  </div>
  <div class="of-page">
    <div class="ofp-title ofp-bot">
      <p>请选择人数</p>
    </div>
    <div class="ofp-page ofp-bot">
      <div class="ofp-mans">成人<span>1.5米(含)以上</span></div>
      <div class="ofp-moneytxt">
        <span>单价￥2688</span>
        <div class="of-jisuan">
            <div class="jian">－</div>
            <div class="l-ordNum">0</div>
            <div class="jia">＋</div>
        </div>
      </div>
    </div>
    <div class="ofp-page ofp-bot">
      <div class="ofp-mans">儿童<span>1米(不含)-1.5米以上</span></div>
      <div class="ofp-moneytxt">
        <span>单价￥398</span>
        <div class="of-jisuan">
            <div class="jian">－</div>
            <div class="l-ordNum">0</div>
            <div class="jia">＋</div>
        </div>
      </div>
    </div>
    <div class="ofp-page ">
      <div class="ofp-mans"><em>*</em> 婴儿<span>1米(含)以下免费</span></div>
    </div>
  </div>

  <div class="of-page">
    <div class="ofp-page ">
      <div class="ofp-mans ">
        <span>2018-6-14</span>
        <span class="ofp-ml"><i class="l-crIcon"></i>成人×10</span>
        <span class="ofp-ml"><i class="l-etIcon"></i>儿童×1</span>
      </div>
    </div>
  </div>

  <div class="of-page">
    <div class="ofp-page ">
      <div class="ofp-mans ofp-maxw">
        <label>出行人</label>
        <input type="text" class="ofp-input" readonly placeholder="只需选择1个出行人">
        <a href="javascript:;;" class="ofp-more">选择</a>
      </div>
    </div>
  </div>

  <div class="of-page">
    <div class="ofp-title ofp-bot">
      <p>联系信息</p>
    </div>
    <div class="ofp-page ">
      <div class="ofp-mans ofp-maxw">
        <label>联系手机</label>
        <input type="text" class="ofp-input" readonly placeholder="接收确认短信">
        <a href="javascript:;;" class="ofp-more">选择</a>
      </div>
    </div>
  </div>

  <div class="of-page">
    <div class="ofp-title ofp-bot">
      <p>发票信息</p>
    </div>
    <div class="ofp-page ">
      <div class="ofp-mans ofp-maxw">
        <label>发票</label>
        <!-- <input type="text" class="ofp-input" readonly placeholder="发票"> -->
        <a href="javascript:;;" class="ofp-more">选择</a>
      </div>
    </div>
  </div>

  <div class="of-page">
    <div class="ofp-page ofp-bot">
      <div class="ofp-mans ofp-maxw">
        <a href="javascript:;;" class="ofp-line">
          <label>优惠券</label>
          <span>暂无可用优惠券</span>
        </a>
      </div>
    </div>
    <div class="ofp-page ">
        <div class="ofp-mans ofp-maxw">
          <a href="javascript:;;" class="ofp-jfzhi">
            <label>使用积分<span>（账户可用积分165）</span></label>
            <input type="checkbox" class="p-switch">
          </a>
        </div>
      </div>
  </div>
  
  <div class="of-rule">
      <input type="checkbox" class="p-hook" checked>
      <span>点击支付表示已预订并同意</span>
      <a href="javascript:;;">《预订须知和退改规则》</a>
  </div>

  <div class="of-pay fix-footer">
    <p class="ofp-price">应付总额：<i><em>￥</em>1096</i></p>
    <button type="button" class="ofp-info">明细</button>
    <button type="button" class="btn-service"><span>客服</span></button>
    <button type="button" class="ofp-pay">去支付</button>
  </div>
</div>