<div class="band-record">
  <div class="br-head">
    <h3>带团列表（24）</h3>
    <button type="button" class="br-sort" id="sort-list">倒序</button>
  </div>
  <div class="br-body">
    <% for(var i=0;i<6;i++){ %>
    <%= iwp({
      islink:true,
      isRecord:true,
      date:true,
      addrs:true
    }) %>
    <% } %>
  </div>
</div>