<div class="person-info">
  <div class="acc-more-list mb-10">
    <div class="aml-item">
      <span>头像</span>
      <div class="pi-change-icon">
        <input type="file">
        <img src="./front/images/tx-001.png">
      </div>
    </div>
  </div>
  <div class="acc-more-list mb-10">
    <div class="aml-item">
      <span>昵称</span>
      <input type="text" value="美丽的夕阳">
    </div>
    <div class="aml-item">
      <span>年龄</span>
      <input type="text" value="22">
    </div>
    <div class="aml-item">
      <span>故乡</span>
      <input type="text" value="美丽的夕阳">
    </div>
    <div class="aml-item">
      <span>性别</span>
      
    </div>
    <div class="aml-item">
      <span>星座</span>
      <span>湖北</span>
    </div>
    <div class="aml-item">
      <span>达人详情相册</span>
      <span>湖北</span>
    </div>
  </div>
</div>