<div class="person-info">
  <div class="acc-more-list mb-10">
    <a class="aml-item" href="javascript:;">
      <span>头像</span>
      <div class="pi-change-icon">
        <input type="file">
        <img src="./front/images/tx-001.png">
      </div>
    </a>
  </div>
  <div class="acc-more-list mb-10">
    <div class="aml-item">
      <span>昵称</span>
      <input type="text" class="aml-text" value="美丽的夕阳">
    </div>
    <div class="aml-item">
      <span>年龄</span>
      <input type="text" class="aml-text" value="22">
    </div>
    <div class="aml-item">
      <span>故乡</span>
      <input type="text" class="aml-text" value="美丽的夕阳">
    </div>
    <a class="aml-item" href="javascript:;">
      <span>性别</span>
      <div class="slc-box">
        <input type="text" readonly data-source="0" class="slc-curr" value="男" placeholder="请选择">
        <ul class="slc-list">
          <li data-source="0">男</li>
          <li data-source="1">女</li>
          <li data-source="2">保密</li>
        </ul>
        <input type="hidden">
      </div>
    </a>
    <a class="aml-item" href="javascript:;">
      <span>星座</span>
      <div class="slc-box">
        <input type="text" readonly data-source="0" class="slc-curr" value="白羊座" placeholder="请选择">
        <ul class="slc-list">
          <li data-source="0">白羊座</li>
          <li data-source="1">处女座</li>
          <li data-source="2">金牛座</li>
        </ul>
        <input type="hidden">
      </div>
    </a>
    <a class="aml-item" href="">
      <span>达人详情相册</span>
      <span>4 张</span>
    </a>
    <h3 class="doyen-info">达人简介</h3>
    <div class="doyen-area">
      <textarea placeholder="简单介绍一下自己吧！（不超过200个字）" maxlength="200"></textarea>
    </div>
  </div>
</div>