<div class="add-line-edit">
    <a class="ale-adda" href=""><i></i>添加线路产品</a>
    <div class="ale-list">
        <div class="ale-top">
            <div class="ale-topl">
                <img src="./front/images/l-manpage01.png">
                <span class="ale-toplsa">三日游</span>
            </div>
            <div class="ale-topr">
                <h3 class="ale-toprh">徒步向导：美丽丽江、向导全程陪同服务、品位慢生活</h3>
                <p class="ale-toprpa"><span>¥</span>4848.00</p>
                <p class="ale-toprpb">
                    <span>丽江</span>
                    <span>产品编号：XLW123456</span>
                </p>
            </div>
        </div>
        <div class="ale-bottom">
            <p class="ale-btp">
                <span class="ale-btpl">出发地：深圳</span>
                <span class="ale-btpr">团位：20人</span>
            </p>
            <p class="ale-btp">
                <span class="ale-btpl">合销商户：小鹿网旅游</span>
                <span class="ale-btpr">结算：8月12日</span>
            </p>
        </div>
    </div>
    
</div>