<div class="tour-refund order-list-items">
  <div class="ol-item">
    <a class="ol-mid" href="">
      <div class="ol-img">
        <img src="http://placehold.it/190x190/09f/fff.png">
      </div>
      <div class="ol-info pr-0">
        <h3>
          <i class="i-type">向导订单</i>深圳中英街、深港环岛、地王观光、东部茶溪谷园博园休闲2天游</h3>
        <div class="i-doyen">
          <h3 class="female">何菲菲</h3>
          <p>一级向导达人</p>
        </div>
        <div class="i-meal">
          <label>套餐：</label>
          <p>【游丽江】向导服务1天</p>
        </div>
      </div>
    </a>
  </div>
  <div class="tr-reason">
    <div class="tr-title">
      <h3>退款原因</h3>
      <div class="slc-box">
        <input type="text" readonly data-source="-9" class="slc-curr" value="" placeholder="请选择">
        <ul class="slc-list">
          <li data-source="0">不想要了</li>
          <li data-source="1">协议退款</li>
        </ul>
      </div>
    </div>
    <div class="tr-line">
      <label>退款金额：</label>
      <span class="tr-price">￥<i>98.00</i></span>
    </div>
    <div class="tr-line">
      <label>退款金额：</label>
      <input type="text" placeholder="请输入退款说明">
    </div>
  </div>
  <div class="tr-file">
    <div class="tr-title">
      <h3>上传凭证</h3>
    </div>
    <div class="tr-imgwrap">
      <div class="tr-imgbox">
        <img src="http://placehold.it/220x140/09f/fff.png">
      </div>
      <div class="tr-imgbox">
        <img src="http://placehold.it/220x140/09f/fff.png">
      </div>
      <div class="tr-imgbox">
        <img src="http://placehold.it/220x140/09f/fff.png">
      </div>
      <div class="tr-imgbox">
        <img src="http://placehold.it/220x140/09f/fff.png">
      </div>
      <div class="tr-upimg">
        <input type="file">
      </div>
    </div>
  </div>
  <button type="button" class="long-page-btn">提交</button>
</div>