<div class="name-auth-done">
        <p class="nad-img tc"><img src="./front/images/icon/c-smrz.png" alt=""></p>
        <p class="nad-pa tc">账户实名认证,保障资金安全</p>
        <div class="nad-txt tc">
            <p>实名认证后，可有效保障小鹿网账户的资金安全，</p>
            <p>更尊享“拿去花闪住、信用抢票”等特权服务。</p>
        </div>
        <div class="nad-msg">
            <p class="nad-msgp"><span>姓名：</span>张全蛋</p>
            <p class="nad-msgp"><span>身份证：</span>43789*******2018</p>
            <p class="nad-msgp"><span>用户ID：</span>DNS123456789000</p>
        </div>
        <p class="nad-bkp">完成实名认证，您还可以去快速绑定银行卡：</p>
        <p class="nad-bkg">
            <span>绑定银行卡</span>
            <a href="javascript:;;" class="nad-bkgr">选择</a>
        </p>
    </div>