<div class="sell-screen">
    <div class="ss-scroll-wall">
        <%= scrollWall %>
    </div>
    <div class="ss-city-wrap">
        <div class="ssc-choose">
            <span>海南</span>
            <span>云南</span>
            <span>四川</span>
            <span>浙江</span>
            <span>安徽</span>
        </div>
        <div class="ssc-choose ssc-hide">
            <span>海南</span>
            <span>云南</span>   
            <span>四川</span>
            <span>浙江</span>
            <span>安徽</span>
            <span>安徽</span>
            <span>安徽</span>
            <span>安徽</span>
            <span>安徽</span>
            <span>安徽</span>
            <span>安徽</span>
        </div>
        <span class="ss-more">更多</span>
    </div>
    <div class="ss-scenery">
        <a href="javascript:;">大理双塔</a>
        <a href="javascript:;">黄果树瀑布</a>
        <a href="javascript:;">天门山</a>
        <a href="javascript:;">玉龙雪山</a>
        <a href="javascript:;">鼓浪屿</a>
        <a href="javascript:;">故宫</a>
        <a href="javascript:;">九寨沟</a>
    </div>
    <div class="ss-tit">
        <span class="ss-titil">商家列表</span>
        <a href="javascript:;;" class="ss-titr">选择</a>
    </div>
    <div class="ss-listbx">
        <%= sellItem+sellItem+sellItem %>
    </div>
</div>