<div class="hugs-detail">
  <h3 class="hd-title">已报名列表</h3>
  <ul class="hd-items">
    <li>
      <div class="hdi-hum">
        <div class="hdi-icon"><img src="http://placehold.it/100x100/09f/fff.png"></div>
        <p>天生小丽质</p>
      </div>
      <p>黄金鹿友</p>
      <p class="hdi-date">2018年4月16日报名</p>
    </li>
    <li>
      <div class="hdi-hum">
        <div class="hdi-icon"><img src="http://placehold.it/100x100/09f/fff.png"></div>
        <p>天生小丽质</p>
      </div>
      <p>黄金鹿友</p>
      <p class="hdi-date">2018年4月16日报名</p>
    </li>
    <li>
      <div class="hdi-hum">
        <div class="hdi-icon"><img src="http://placehold.it/100x100/09f/fff.png"></div>
        <p>天生小丽质</p>
      </div>
      <p>黄金鹿友</p>
      <p class="hdi-date">2018年4月16日报名</p>
    </li>
    <li>
      <div class="hdi-hum">
        <div class="hdi-icon"><img src="http://placehold.it/100x100/09f/fff.png"></div>
        <p>天生小丽质</p>
      </div>
      <p>黄金鹿友</p>
      <p class="hdi-date">2018年4月16日报名</p>
    </li>
    <li>
      <div class="hdi-hum">
        <div class="hdi-icon"><img src="http://placehold.it/100x100/09f/fff.png"></div>
        <p>天生小丽质</p>
      </div>
      <p>黄金鹿友</p>
      <p class="hdi-date">2018年4月16日报名</p>
    </li>
  </ul>
</div>