<div class="my-wallet">
  <div class="mw-box">
    <div class="mwb-page">
      <ul class="mwb-list">
        <li>
          <p class="mwb-num">680</p>
          <p class="mwb-txt">积分</p>
        </li>
        <li>
            <p class="mwb-num">680.6</p>
            <p class="mwb-txt">余额</p>
        </li>
        <li>
            <p class="mwb-num">15.2</p>
            <p class="mwb-txt">分享收益</p>
        </li>
        <li>
            <p class="mwb-num">658.26</p>
            <p class="mwb-txt">达人收益</p>
        </li>
      </ul>
    </div>
    <div class="mw-nrpage">
      <div class="mwn-pageradio">
        为了资金安全，请尽快进行实名认证
      </div>
      <div class="mwn-pagelist">
        <a href="javascript:;;">余额</a>
        <a href="javascript:;;">分享</a>
        <a href="javascript:;;">达人收益</a>
      </div>
    </div>
    
    <div class="mwn-pageyhk">
        <a href="javascript:;;">
          <i class="mwn-icons mwn-yhkicon"></i>
          <span>银行卡</span>
        </a>
        <a href="javascript:;;">
          <i class="mwn-icons mwn-huigou"></i>
          <span>我的回购</span>
        </a>
        <a href="javascript:;;">
          <i class="mwn-icons mwn-tixian"></i>
          <span>提现</span>
        </a>
    </div>

  </div>
</div>