<div class="name-auth">
    <p class="na-img tc"><img src="./front/images/icon/c-smrz.png" alt=""></p>
    <p class="na-pa tc">账户实名认证,保障资金安全</p>
    <div class="na-txt tc">
        <p>实名认证后，可有效保障小鹿网账户的资金安全，</p>
        <p>更尊享“拿去花闪住、信用抢票”等特权服务。</p>
    </div>
    <div class="na-rz">
        <a href="javascript:void(0)">用身份证认证</a>
        <a href="javascript:void(0)">用支付宝认证</a>
    </div>
</div>