<div class="evaluation-people">
  <div class="ep-box">
      <%= comment()+comment()+comment() %>
      <button type="button" class="more-by-click">点击加载更多…</button>
  </div>
  <div class="ep-foot fix-footer">
    <button type="button" onclick="collectFunc.changeCollect(this)" class="btn-collect"><span>收藏</span></button>
    <button type="button" class="btn-consult">咨询向导</button>
    <button type="button" class="btn-order">立即预订</button>
  </div>
</div>