<div class="consult-set">
        <p class="gs-tit">套餐列表</p>
        <ul>
            <li class="gs-li">
                <p class="gs-lip">
                    <span>套餐编号：wez20180510001</span>
                    <a class="gs-liedt" href="javascript:void(0)"></a>
                </p>
                <p class="gs-lip">
                    <span>套餐价格：298.00</span>
                    <a class="gs-lidel" href="javascript:void(0)"></a>
                </p>
                <p>套餐名称：【爱丽江】向导服务8小时</p>
            </li>
            <li class="gs-li">
                <p class="gs-lip">
                    <span>套餐编号：wez20180510001</span>
                    <a class="gs-liedt" href="javascript:void(0)"></a>
                </p>
                <p class="gs-lip">
                    <span>套餐价格：298.00</span>
                    <a class="gs-lidel" href="javascript:void(0)"></a>
                </p>
                <p>套餐名称：【爱丽江】向导服务8小时</p>
            </li>
        </ul>
        <button type="button" class="gs-btn">添加</button>
    </div>