
<div class="verifying-bank">
  <p class="vb-tips">为了账户安全，请绑定本人的银行卡</p>
  <div class="vb-pagebox">
      <div class="vbp-cared">
          <div class="vbpc-ckr">
            <p>持卡人</p>
            <div class="vbpc-input">
              <input type="text" readonly value="林天生">
              <i class="vbpc-yiwen" onclick="tishi()"></i>
            </div>
          </div>
          <div class="vbpc-ckr">
            <p>信用卡或储蓄卡</p>
            <div class="vbpc-input">
              <input type="text" class="xyc" value="633 0340 0007 4823 317">
               <i class="vbpc-close" onclick="qingkong()"></i>
            </div>
          </div>
      </div>
  </div>
  <div class="vb-footBtn">
    <a href="javascript:;;">下一步</a>
  </div>
</div>