<div class="edit-nickname">
  <div class="acc-fill-edit">
    <textarea class="afe-fillaera" placeholder="输入达人介绍，最多200个字" maxlength="200"></textarea>
  </div>
  <button type="button" class="long-page-btn">保存</button>
</div>