<div class="message-broadcast">
  <div class="acc-more-list nomore mb-10">
    <div class="aml-item">
      <span>订单状态通知</span>
      <span><input type="checkbox" class="p-switch"></span>
    </div>
    <div class="aml-item">
      <span>系统通知</span>
      <span><input type="checkbox" class="p-switch"></span>
    </div>
  </div>
</div>