<div class="line-center-apply">
    <div class="lca-list">
        <div class="lca-top">
            <div class="lca-topl">
                <img src="./front/images/l-manpage01.png">
                <span class="lca-toplsa">三日游</span>
            </div>
            <div class="lca-topr">
                <h3 class="lca-toprh">徒步向导：美丽丽江、向导全程陪同服务、品位慢生活</h3>
                <p class="lca-toprpa"><span>¥</span>4848.00</p>
                <p class="lca-toprpb">
                    <span>丽江</span>
                    <span>产品编号：XLW123456</span>
                </p>
            </div>
        </div>
        <div class="lca-bottom">
            <p class="lca-btp">
                <span class="lca-btpl">出发地：深圳</span>
            </p>
            <p class="lca-btp">
                <span class="lca-btpl">合销商户：小鹿网旅游</span>
            </p>
        </div>
    </div>
    <div class="lca-bx">
        <p class="lca-bxpa">
            <span>团位：</span>
            <input type="text" placeholder="组团人数">
        </p>
        <p class="lca-bxpb">
            <span>
                <em>出团时间：</em>
                <input type="text" placeholder="出团时间" disabled="disabled" value="">
            </span>
            <a href="javascript:;;" class="lca-sel">选择</a>
        </p>
    </div>
</div>