<div class="details-travelnotes">
  <div class="dt-banner">
    <img src="./front/images/arno-head-img.png" alt="">
    <div class="dt-zanbox" onclick="shoucFun.changeCollect(this)"></div>
  </div>
  <div class="dt-page">
    <div class="dtp-txt">澳门+澳门威尼斯人度假村+大三巴牌坊+百老汇一日游【自由行/跟团游、高端没事纯玩三套餐可选】</div>
    <div class="dtp-miaos">
      <div class="dtpm-box">
        <p>浏览数：56872</p>
        <p class="dtpm-zan"><i onclick="shoucFun.changeCollect(this)"></i> 45412</p>
      </div>
      <div>
        <a href="javascript:;;"><i class="dtpm-wx"></i></a> 
      </div>
    </div>
  </div>

  <div class="dt-page">
    <div class="dtp-lybox">
      <div class="mdd-top">
        <div class="mdd-img"><img src="http://placehold.it/300x300/09f/fff.png"></div>
        <div class="mdd-info">
          <div class="i-top">
            <h3>鹿友大团长</h3>
            <div>
              <img class="level" src="./front/images/icon/jinpai.png">
              <button type="button" onclick="followFunc.changeFollow(this)" class="follow followed">已关注</button>
            </div>
          </div>
          <p class="i-level">A级旅游达人</p>
          <p class="i-info">简介：时尚旅游达人，十三年漫漫旅行总行程三万六千里</p>
        </div>
      </div>
    </div>
    <div class="dtp-lytxt">
        <p>最新带团：2018年5月10日</p>
        <p>带团人次：500人/次</p>
    </div>
  </div>

  <div class="dt-section">
    <div class="dts-title">
      <p>带团游记</p>
    </div>
    <div class="dts-list-box">
      <%for(var i=0;i<5;i++){%>
      <a href="javascript:;;" class="dts-list">
        <div class="dtsl-img">
          <img src="./front/images/l-photoR04.png" alt="">
        </div>
        <div class="dtsl-txt">
            曾几何时，你没有如此撒欢过，没有这般兴奋和惊奇。世界上最遥远的距离，不是千万里，而是你透过镜头看到了另外一个世界的你。飞翔吧，少年!
        </div>
      </a>
      <%}%>
    </div>
  </div>

  <!-- 菜单 -->
  <div class="dt-menus">
    <img src="./front/images/icon/tipmenu.png" alt="">
  </div>
  <div class="dt-menubox">
    <div class="dtm-zhizh"></div>
    <div class="dt-menulist">
        <div class="dtm-title">足迹</div>
        <a href="javascript:;">01 ~ 丽江古城</a>
        <a href="javascript:;">02 ~ 玉龙雪山登顶</a>
        <a href="javascript:;">03 ~ 大理城内游</a>
        <a href="javascript:;">04 ~ 大理效外露宿</a>
        <a href="javascript:;">05 ~ 洱海放风筝</a>
        <a href="javascript:;">06 ~ 春城美景</a>
        <a href="javascript:;">07 ~ 春城美食</a>
      </div>
  </div>
  
</div>